<nav>
    <ul id="nav__top-level" ng-style="navStyle">
        <li>
            <button class="btn-overview" ng-class="{opened: firstLevel == 'overview'}" ng-click="firstLevel = 'overview';" tabindex="1">


                <span class="">Server Overview</span></button>
        </li>
        <li>
            <button class="btn-health" ng-class="{opened: firstLevel == 'health'}" ng-click="firstLevel = 'health';" tabindex="9">

                <span>Server Health</span></button>
        </li>
        <li>
            <button class="btn-control" ng-class="{opened: firstLevel == 'control'}" ng-click="firstLevel = 'control';">

                <span>Server Control</span></button>
        </li>
        <li>
            <button class="btn-config" ng-class="{opened: firstLevel == 'config'}" ng-click="firstLevel = 'config';">

                <span>Configuration</span></button>
        </li>
        <li>
            <button class="btn-firmware" ng-class="{opened: firstLevel == 'firmware'}" ng-click="firstLevel = 'firmware';">

                <span>Firmware</span></button>
        </li>
        <li>
            <button class="btn-users" ng-class="{opened: firstLevel == 'users'}" ng-click="firstLevel = 'users';">

                <span>Users</span></button>
        </li>
    </ul>
    <ul class="nav__second-level btn-overview" ng-style="navStyle" ng-class="{opened: firstLevel == 'overview'}">
        <li ng-class="{'active': (path == '/overview/system')}" tabindex="2"><a href="#/system-overview">System Overview</a></li>





    </ul>
    <ul class="nav__second-level btn-health" ng-style="navStyle"  ng-class="{opened: firstLevel == 'health'}">
        <li ng-class="{'active': (path == '/overview/log')}"><a href="#/overview/log" tabindex="7">Event Log</a></li>
        <li><a href="">FRU Information</a></li>
        <li><a href="">Sensor Data</a></li>
        <li ng-class="{'active': (path == '/overview/power-consumption')}"><a href="" tabindex="4">Power consumption</a></li>
        <li ng-class="{'active': (path == '/overview/unit-id')}"><a href="#/overview/unit-id" tabindex="6">Unit ID</a></li>
        <li><a href="">Diagnostics</a></li>
    </ul>
    <ul class="nav__second-level btn-control" ng-style="navStyle"  ng-class="{opened: firstLevel == 'control'}">
        <li ng-class="{'active': (path == '/overview/power-operations')}" tabindex="3"><a href="#/overview/power-operations">Server power operations</a></li>
        <li ng-class="{'active': (path == '/overview/bmc-reboot')}"><a href="#/overview/bmc-reboot" tabindex="8">Reboot BMC</a></li>
        <li ng-class="{'active': (path == '/overview/remote-console')}"><a href="" tabindex="5">Remote console</a></li>
    </ul>
    <ul class="nav__second-level btn-firmware" ng-style="navStyle"  ng-class="{opened: firstLevel == 'config'}">
        <li><a href="">Network Configuration</a></li>
        <li><a href="">Date & Time</a></li>
        <li><a href="">Security</a></li>
        <li><a href="">Configuration File</a></li>
    </ul>
    <ul class="nav__second-level btn-firmware" ng-style="navStyle"  ng-class="{opened: firstLevel == 'firmware'}">
        <li><a href="">BMC Firmawre</a></li>
        <li><a href="">Server Firmware</a></li>
    </ul>
    <ul class="nav__second-level btn-users" ng-style="navStyle"  ng-class="{opened: firstLevel == 'users'}">
        <li><a href="">Manage User Account</a></li>
    </ul>
</nav>
