<header id="header">
  <div class="header">
    <div class="header__info-section">
      <div class="header__title">
        <div>{{ dataService.hostname | limitTo: 15 }}{{dataService.hostname.length > 15 ? '...' : ''}}</div>
        <div>{{ dataService.server_id }}</div>
      </div>
    </div>
    <div class="header__functions-section">
      <div class="header__functions">
        <a href="#/server-health/event-log"> H<span class="header__textlink">ealth</span>
          <status-icon status="{{ dataService.server_health == 'Critical' ? 'error' :
                                      dataService.server_health == 'Warning' ? 'warn' :
                                      dataService.server_health == 'Good' ? 'on' : null }}">
          </status-icon>
        </a>

        <a href="#/server-control/power-operations" role="button"> P<span class="header__textlink">ower</span>
          <status-icon status="{{ dataService.server_state == 'Quiesced' ? 'error' :
                                        dataService.server_state == 'Running' ? 'on' :
                                        dataService.server_state == 'Off' ? 'off' :
                                        dataService.server_state == 'Unreachable' ? 'off' : null }}">
          </status-icon>
        </a>

        <a href="#" class="header__page-refresh" ng-click="refresh()" ng-mouseover="loginHover=false; refreshHover=true"
          ng-mouseleave="refreshHover=false" aria-label="refresh page data">
          <img class="header-icon" src="../../assets/icons/icon-restart.svg"> <span class="header__textlink">Refresh
            data</span>
        </a>
        <div class="refresh-hover header__hover-box" ng-show="refreshHover"
          ng-class="refreshHover ? 'refresh-hover header__hover-box show' : 'refresh-hover header__hover-box'">
          <span class="small-text">Last Refreshed</span><br>
          <span class="small-text black"><span>{{dataService.last_updated | localeDate}}</span>
        </div>

        <a href="#" class="header__page-login" ng-click="logout()" ng-mouseover="refreshHover=false; loginHover=true"
          ng-mouseleave="loginHover=false">
          <img class="header-icon" src="../../assets/icons/icon-user-avatar.svg"> <span
            class="header__textlink">Logout</span>
        </a>
        <div ng-show="loginHover"
          ng-class="loginHover ? 'login-hover header__hover-box show' : 'login-hover header__hover-box'">
          <span class="small-text">Logged in as</span><br>
          <span class="small-text black"><span>{{dataService.user_id}}</span>
        </div>

      </div>
    </div>
  </div>
</header>