<div class="table__row">
  <div class="table__cells type bold">
    {{cert.Description}}
  </div>
  <div class="cert__title">
    Valid from:
  </div>
  <div class="table__cells date">
    {{cert.ValidNotBefore ? (cert.ValidNotBefore | localeDate) : '--'}}
  </div>
  <div class="cert__title">
    Valid until:
  </div>
  <div class="table__cells status">
    <span class="inline" ng-class="{'icon__warning' : cert.isExpiring , 'icon__critical' : cert.isExpired}" ng-if="cert.isExpired || cert.isExpiring"></span>
  </div>
  <div class="table__cells date">
    {{cert.ValidNotAfter ? (cert.ValidNotAfter | localeDate) : '--' }}
  </div>
  <div class="table__cells buttons">
    <button type="button" class="cert__button">
      <img src="../../assets/images/icon-upload-blue.svg"
           ng-click="cert.upload = true"
           alt="upload"/>
    </button>
  </div>
  <div ng-show="cert.upload === true" class="upload__certificate">
    <span class="small-1 exit__upload" ng-click="cert.upload=false"></span>
    <div class="cert__upload-chooser row column">
      <div class="small-3 align-self-center">
        <label for='upload_{{cert.Description}}'>
          <input name="upload_{{cert.Description}}" id="upload_{{cert.Description}}" type="file" file="cert.file" class="hide"/>
          <span class="button btn-secondary courier-normal">Choose file</span>
        </label>
      </div>
      <div class="small-6 align-self-center">
        <span ng-if="!cert.file.name">No file selected</span>
        <span>{{cert.file.name}}</span>
        <span class="icon__exit" ng-if="cert.file.name" ng-click="cert.file = '';"></span>
      </div>
      <div class="small-2 align-self-center">
        <button type="button" ng-if="cert['@odata.id']" ng-class="{disabled:!cert.file}" class="button btn-primary" ng-click="replaceCertificate(cert)">Replace</button>
        <button type="button" ng-if="!cert['@odata.id']" ng-class="{disabled:!cert.file}" class="button btn-primary" ng-click="uploadCertificate(cert)">Upload</button>
      </div>
    </div>
  </div>
</div>