<div class="row column firmware__table">
	<div class="table-header column small-12">
		<p class="inline">{{title}}</p>
		<p class="inline firmware__active-version">In-memory firmware version: {{version}}</p>
	</div>
	<div class="table row column">
		<div class="table__head">
			<div class="table__row">
				<div class="table__cell">
					Boot priority
				</div>
				<div class="table__cell">
					Image state
				</div>
				<div class="table__cell firmware__version">
					Version
				</div>
				<div class="table__cell firmware__action">
					Action
				</div>
			</div>
		</div>
		<div class="table__body">
			<div class="table__row" ng-class="firmware.activationStatus == 'Functional' ? 'firmware__primary' : ''" ng-repeat="firmware in firmwares|filter:filterBy|orderBy:'+Priority' as imageList">
				<div class="table__cell">
					<span class="table__cell-label">Boot priority:</span>
					<div class="icon icon__up-arrow" aria-hidden="true" ng-class="{'icon-as-spacer':$first}"
					     ng-click="!$first && changePriority(firmware.imageId, firmware.Version, firmware.Priority, firmware.Priority - 1)"
					     ng-show="firmware.activationStatus == 'Functional' || firmware.activationStatus == 'Active'">
						<span class="accessible-text">firmware up in priority</span></div>
					<div class="icon icon__down-arrow" aria-hidden="true" ng-class="{'icon-as-spacer':$last || imageList[$index+1].activationStatus != 'Active'}"
					    ng-click="(!$last && imageList[$index + 1].activationStatus == 'Active') && changePriority(firmware.imageId, firmware.Version, firmware.Priority, firmware.Priority + 2)"
					    ng-show="firmware.activationStatus == 'Functional' || firmware.activationStatus == 'Active'">
						<span class="accessible-text">firmware down in priority</span></div>
				</div>
				<div class="table__cell firmware__active">
					<span class="table__cell-label">Image state:</span>
					<span>{{firmware.activationStatus}}</span>
				</div>
				<div class="table__cell firmware__version" ng-class="{'active':firmware.isExtended}">
					<span class="table__cell-label">Version:</span>{{firmware.Version}}
					<div class="icon icon__more" ng-click="firmware.extended.show = ! firmware.extended.show"
							ng-class="{'active':firmware.isExtended}" ng-show="firmware.isExtended">
						<svg version="1.1" x="0px" y="0px" viewBox="0 0 24.3 24.6">
							<path d="M12.1,23C6.1,23,1.3,18.2,1.3,12.3S6.1,1.6,12.1,1.6s10.7,4.8,10.7,10.7S18,23,12.1,23z M12.1,2.6c-5.4,0-9.7,4.4-9.7,9.7 S6.7,22,12.1,22s9.7-4.4,9.7-9.7S17.4,2.6,12.1,2.6z"/>
							<g>
								<circle cx="6.7" cy="12.5" r="1.5"/>
								<circle cx="12.1" cy="12.5" r="1.5"/>
								<circle cx="17.4" cy="12.5" r="1.5"/>
							</g>
						</svg>
					</div>
				</div>
				<div class="icon__more-dropdown" ng-show="firmware.extended.show">
					<h5 class="bold">Extended version information</h5>
					<p class="no-margin" ng-repeat="version in firmware.extended.versions">{{version.title}}: {{version.version}}</p>
				</div>
				<div class="table__cell firmware__action">
				    <span class="table__cell-label">Action:</span>
				    <button class="firmware__action-link" ng-show="firmware.activationStatus == 'Ready'" ng-click="activate(firmware.imageId, firmware.Version, firmware.imageType)">Activate</button>
				    <button class="firmware__action-link" ng-show="firmware.activationStatus != 'Functional'" ng-click="delete(firmware.imageId, firmware.Version)">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>
