<div class="row column">
  <button type="button" ng-if="enabled" class="btn-add-group" ng-click="addGroup=true">Add role group</button>
  <button type="button" ng-if="enabled" class="btn-remove-group" ng-click="removeMultipleGroups=true">Remove role groups</button>
</div>
<div class="ldap__table">
  <div class="table__row-header row column">
    <div class="row column">
      <div class="table__cell-select">
        <span class="table__cell-label">Select group:</span>
        <label class="control-check">
          <input type="checkbox" name="events__check" ng-checked="optionToggled()" ng-click="toggleAll()" ng-model="all"/>
          <span class="control__indicator"></span>
        </label>
      </div>
      <div class="table__cell-sort">
        <div class="column small-2 sort_button_wrapper">
          <button class="sort-ascending" ng-click="sortBy('RemoteUser', false)"></button>
          <button class="sort-descending" ng-click="sortBy('RemoteUser', true)"></button>
        </div>
      </div>
      <div class="table__cell-ldap">
        Group name
      </div>
      <div class="table__cell-sort">
	<div class="column small-2 sort_button_wrapper">
	  <button class="sort-ascending" ng-click="sortBy('LocalRole', false)"></button>
	  <button class="sort-descending" ng-click="sortBy('LocalRole', true)"></button>
	</div>
      </div>
      <div class="table__cell-ldap">
        Group privilege
      </div>
    </div>
  </div>
  <div class="empty__logs" ng-if="roleGroups.length < 1 || !enabled" >
    No role groups have been created yet.
    <p ng-if="!enabled">LDAP authentication must be enabled before creating role groups</p>
  </div>
  <div ng-repeat="group in roleGroups | orderBy:sortPropertyName:reverse track by $index ">
    <div class="row column table__row-value">
      <div class="table__cell-select">
        <span class="table__cell-label">Select group:</span>
        <label class="control-check">
          <input type="checkbox" name="events__check" ng-model="group.isSelected"/>
          <span class="control__indicator"></span>a
        </label>
      </div>
      <div class="table__cell-ldap">
        {{group.RemoteUser}}
      </div>
      <div class="table__cell-ldap">
        {{group.LocalRole}}
      </div>
      <div class="table_cell-buttons">
        <button class="edit_button"
                type="button"
                ng-click="$parent.editGroup=true; $parent.newGroup.RemoteUser = group.RemoteUser; $parent.newGroup.LocalRole = group.LocalRole; $parent.selectedGroupIndex = $index">
          <img src="../../assets/images/icon-edit-blue.svg" alt="Edit">
        </button>
        <button class="trash_button" type="button" ng-click="$parent.removeGroup=true; $parent.selectedGroupIndex = $index">
          <img src="../../assets/images/icon-trashcan-blue.svg" alt="delete">
        </button>
      </div>
    </div>
  </div>
</div>
<section class="modal" aria-hidden="true" role="dialog" ng-class="{'active': addGroup || editGroup}">
  <div class="page-header ">
    <h3>{{addGroup ? 'Add new role group' : 'Edit group privilege'}}</h3>
  </div>
  <div class="modal__content-ldap">
    <div ng-if="addGroup">
      <form name="add__group__form" id="add__group__form" novalidate>
        <div class="small-9">
          <label for="group_name">Role group name</label>
          <input type="text" name="group_name" id="group_name" ng-model="newGroup.RemoteUser" required/>
          <div ng-messages="add__group__form.group_name.$error" class="form-error" ng-class="{'visible' : add__group__form.group_name.$touched}">
            <p ng-message="required">Field is required</p>
          </div>
        </div>
        <div class="small-9">
          <label for="group__role">Privilege</label>
          <select id="group__role" name="group__role" ng-model="newGroup.LocalRole" required>
            <option class="courier-bold" ng-value="">Select an option</option>
            <option class="courier-bold" ng-repeat="privilege in privileges">{{privilege}}</option>
          </select>
          <div ng-messages="add__group__form.group__role.$error" class="form-error" ng-class="{'visible' : add__group__form.group__role.$touched}">
            <p ng-message="required">Field is required</p>
          </div>
        </div>
      </form>
      <div class="modal__button-wrapper">
        <button type="button" class="inline btn-secondary" ng-click="$parent.addGroup=false; $parent.newGroup={}">Cancel</button>
        <button type="button" class="inline btn-primary" ng-class="{'disabled' : add__group__form.$invalid}" ng-click="addRoleGroup(); $parent.addGroup=false;">Save</button>
      </div>
    </div>
    <div ng-if="editGroup">
      <form name="edit__group__form" id="edit__group__form" novalidate>
        <label>Role group name</label>
        <div class="small-9 edit__name">
          {{newGroup.RemoteUser}}
        </div>
        <div class="small-9">
          <label for="group__role__edit">Privilege</label>
          <select id="group__role__edit" name="group__role__edit" ng-model="newGroup.LocalRole" required>
            <option class="courier-bold" ng-repeat="privilege in privileges">{{privilege}}</option>
          </select>
          <div ng-messages="edit__group__form.group__role__edit.$error" class="form-error" ng-class="{'visible' : edit__group__form.group__role__edit.$touched}">
            <p ng-message="required">Field is required</p>
          </div>
        </div>
      </form>
      <div class="modal__button-wrapper">
        <button type="button" class="inline btn-secondary" ng-click="$parent.editGroup=false; $parent.newGroup={}">Cancel</button>
        <button type="button" class="inline btn-primary" ng-click="editRoleGroup();">Save</button>
      </div>
    </div>
  </div>
</section>
<section class="modal" aria-hidden="true" role="dialog" ng-class="{'active': removeGroup}">
  <div class="page-header ">
    <h3>Remove role group</h3>
  </div>
  <div class="modal__content-ldap">
    <p>Are you sure you want to remove "{{roleGroups[selectedGroupIndex].RemoteUser}}"</p>
  </div>
  <div class="modal__button-wrapper">
    <button class="inline btn-secondary" ng-click="removeGroup = false">Cancel</button>
    <button class="inline btn-primary" ng-click="removeRoleGroup()">Remove</button>
  </div>
</section>
<section class="modal" aria-hidden="true" role="dialog" ng-class="{'active': removeMultipleGroups}">
  <div class="page-header ">
    <h3>Remove role group</h3>
  </div>
  <div class="modal__content-ldap">
    <p>Are you sure you want to remove
      <span ng-repeat="groups in roleGroups | filter:{isSelected:true}">{{$last && !$first ? ' and ' : $first ? '': ', '}}{{"'" + groups.RemoteUser + "'"}}</span>
    </p>
  </div>
  <div class="modal__button-wrapper">
    <button class="inline btn-secondary" ng-click="removeMultipleGroups = false">Cancel</button>
    <button class="inline btn-primary" ng-click="removeRoleGroups()">Remove</button>
  </div>
</section>
<div class="modal-overlay" tabindex="-1" ng-class="{'active': addGroup || editGroup || removeGroup || removeMultipleGroups}"></div>

