.certificate__table {
  border-left: 1px solid $border-color-01;
  border-right: 1px solid $border-color-01;
  margin-top: 0.5em;
  .table__row-header {
    width: 100%;
    border-bottom: 1px solid $border-color-01;
    background-color: $primary-dark;
    color: $primary-light;
    font-weight: 700;
  }
  .table__row-value {
    width: 100%;
    border-bottom: 1px solid $border-color-01;
  }
  .certificate__type-header {
    @include mediaQuery(small) {
      width: 25%;
      background: transparent;
    }
    width: 100%;
    padding: 0.8em;
    padding-left: 1.5em;
  }
  .certificate__date-header {
    padding: 0.8em;
    @include mediaQuery(small) {
      width: 30%;
      display: block;
    }
    display: none;
  }
  .certificate__status-header {
    padding: 0.8em;
    @include mediaQuery(small) {
      width: 5%;
      display: block;
    }
    display: none;
  }
  .certificate__type-cell {
    width: 100%;
    padding: 0.8em 0.8em 0.8em 1.5em;
    word-wrap: break-word;
    background: $background-02;
    @include mediaQuery(small) {
      width: 25%;
      background: transparent;
    }
  }
  .certificate__date-cell {
    padding: 0.8em;
    word-wrap: break-word;
    @include mediaQuery(small) {
      width: 30%;
    }
    width: 70%;
  }
  .certificate__status-cell {
    padding: 0.8em;
    @include mediaQuery(small) {
      display: block;
      width: 5%;
    }
    display: none;
  }
  .certificate__buttons-cell {
    @include mediaQuery(small) {
      width: 10%;
      padding-top: 0.8em;
    }
    width: 100%;
    text-align: right;
    padding: 0 1.5em 0.8em 0;
  }
  .certificate__title-inline {
    @include mediaQuery(small) {
      display: none;
    }
    width: 30%;
    display: block;
    padding: 0.8em 0.8em 0.8em 1.5em;
  }
  .upload__certificate {
    border-top: 1px solid $border-color-01;
    width: 100%;
    background: $background-02;
    padding: 0.8em;
  }
}
.certificate__upload-chooser {
  background: $background-02;
}

.add__certificate__modal {
  select {
    margin-bottom: 0;
  }
  .file__upload {
    margin-bottom: 2em;
  }
  .select__new-label {
    margin-bottom: 1em;
  }
  .select__new-button {
    font-size: 1.2em;
  }
  .file__name {
    background-color: $background-02;
    padding: 0.5em;
  }
}
