.user-list__tbl {
  .btn-edit,
  .btn-delete {
    padding: .5em 1em;
    min-height: 2em;
    color: $primebtn__text;
    background: $primebtn__bg;
    &:hover {
      background: rgba($primebtn__bg, .8);
      @include fastTransition-all;
    }
    &:disabled {
      background: $btn__disabled-bg;
      color: $btn__disabled-txt;
      @include fastTransition-all;
      cursor: default;
    }
  }
}
.acnt-prop-header {
  width: 100%;
  border-bottom: 2px solid #b8c1c1;
  margin: 0px 0px 15px;
}
.user-manage__form {
  width: 100%;
  .dropdown__button {
    margin-bottom: 1.2em;
  }
  label {
    width: 100%;
    min-width: 210px;
    font-weight: 700;
    margin-right: 4em;
  }
  select,
  input {
    width: 225px;
    width: 225px;
  }
  fieldset {
    display: block;
    padding-left: 1.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid $medgrey;
  }
  .acnt-prop__input-wrapper,
  .user-manage__input-wrapper {
    margin-bottom: 5px;
    select {
      margin-bottom: 0;
    }
  }
  .acnt-prop__span-wrapper {
    position: relative;
    height: 20px;
    margin-bottom: 5px;
  }
  .password-toggle {
    position: absolute;
    right: 5px;
    top: .6em;
    padding: 3px;
    margin-right: 20px;
    color: $primebtn__bg;
    font-size: .8em;
  }
  .acnt-prop__submit-wrapper,
  .user-manage__submit-wrapper {
    width: 100%;
    margin-top: 6px;
    padding-top: 1px;
    border-top: 1px solid $medgrey;
    button {
      float: right;
      margin: .5em;
    }
  }
  .user-manage__error
  {
    background: lighten($error-color, 20%);
    padding: 1em;
    text-align: center;
    font-size: 1em;
    border: 1px solid $error-color;
    color: $black;
    font-family: "Courier New", Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  .user-manage__success
  {
    color: $primebtn__bg;
    padding: 1em;
    font-size: 1em;
    font-family: "Courier New", Helvetica, Arial, sans-serif;
    font-weight: 500;
  }
}
