{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2015
  },
  "extends": ["google", "plugin:angular/johnpapa", "plugin/prettier"],
  "plugins": ["angular", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
