{
  "bracketSpacing": false,
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
