[project]
	description = Reference WebUI for managing OpenBMC systems.
[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	abandon = group github/openbmc/phosphor-webui-maintainers
	create = group github/openbmc/phosphor-webui-maintainers
	forgeCommitter = group github/openbmc/phosphor-webui-maintainers
	push = +force group github/openbmc/phosphor-webui-maintainers
	label-Code-Review = -2..+2 group github/openbmc/phosphor-webui-maintainers
	label-Ok-To-Test = +0..+1 group github/openbmc/phosphor-webui-maintainers
	label-Verified = -1..+1 group github/openbmc/phosphor-webui-maintainers
	rebase = group github/openbmc/phosphor-webui-maintainers
	submit = group github/openbmc/phosphor-webui-maintainers
	editTopicName = group github/openbmc/phosphor-webui-maintainers
[access "refs/tags/*"]
	push = +force group github/openbmc/phosphor-webui-maintainers
	pushTag = +force group github/openbmc/phosphor-webui-maintainers
	pushSignedTag = group github/openbmc/phosphor-webui-maintainers
