<div id="password-change">
  <div class="row column">
    <h1>Manage user account</h1>
    <div class="column small-12 page-header">
      <h2 class="h4">Change password</h2>
    </div>
  </div>
  <section class="row column" aria-label="change password form">
    <form class="pass-manage__form" role="form">
      <fieldset>
        <legend aria-label="user manager" class="accessible-text">Change password form</legend>
        <div class="row column">
          <label for="pass-manage__current-password">Current password</label>
          <input id="pass-manage__current-password" type="password" ng-model="oldPassword" class="pass-manage__current-password inline" autocomplete="off"/>
        </div>
        <div class="inline">
          <label for="pass-manage__new-password">New password</label>
          <div class="pass-manage__input-wrapper inline">
            <input id="pass-manage__new-password" type="{{showpassword ? 'text' : 'password'}}" ng-model="password" class="pass-manage__new-password inline" autocomplete="off"/>
            <button ng-model="showpassword" ng-click="togglePassword = !togglePassword; showpassword = !showpassword;" class="password-toggle">
              <span ng-hide="togglePassword">Show</span>
              <span ng-show="togglePassword">Hide</span>
            </button>
          </div>
        </div>
        <div class="inline">
          <label for="pass-manage__verify-password">Retype new password</label>
          <div class="pass-manage__input-wrapper inline">
            <input id="pass-manage__verify-password" type="{{showpasswordVerify ? 'text' : 'password'}}" ng-model="passwordVerify" class="pass-manage__verify-password inline" autocomplete="off"/>
            <button ng-model="showpasswordVerify" ng-click="toggleVerify = !toggleVerify; showpasswordVerify = !showpasswordVerify;" class="password-toggle">
              <span ng-hide="toggleVerify">Show</span>
              <span ng-show="toggleVerify">Hide</span>
            </button>
          </div>
        </div>
      </fieldset>
      <div class="pass-manage__submit-wrapper">
      <button class="btn-primary inline" ng-click="changePassword(oldPassword, password, passwordVerify)">Save change</button>
      </div>
      <p ng-class="'change-password__' + state"  role="alert">
        {{state === 'error' ? errorMsg : ''}}
        {{state === 'success' ? 'Success! User Password has been changed!' : ''}}
      </p>
    </form>
  </section>
</div>
