<div role="dialog" class="uib-modal__content  modal__local-users-settings">
  <button type="button" class="btn  btn--close  float-right" ng-click="$dismiss()">
    <icon file="icon-close.svg"></icon>
  </button>
  <div class="modal-header">
    <h2 class="modal-title" id="dialog_label">Account policy settings</h2>
  </div>
  <form name="form">
    <div class="modal-body">
      <div class="row">
        <div class="col medium-6">
            <!-- Max login attempts -->
            <div class="field-group-container">
              <label for="maxLogin">Max failed login attempts</label>
              <p class="label__helper-text">Value must be between 0 – 65535</p>
              <input id="maxLogin" type="number" required name="maxLogin"
                    min="0" max="65535"
                    ng-model="modalCtrl.accountSettings.maxLogin" />
              <div ng-if="form.maxLogin.$invalid && form.maxLogin.$dirty"
                  class="form__validation-message">
                <span ng-show="form.maxLogin.$error.required">Field is required</span>
                <span ng-show="form.maxLogin.$error.min || form.maxLogin.$error.max">Value must be between 1 - 65535</span>
              </div>
            </div>
        </div>
        <div class="col medium-6">
          <!-- User unlock method -->
          <fieldset class="field-group-container">
            <legend>User unlock method</legend>
            <!-- Automatic radio option -->
            <label class="radio-label">
              <input type="radio" ng-value="1"
                     name="lockoutMethod1"
                     ng-model="modalCtrl.accountSettings.lockoutMethod">
              Automatic after timeout
            </label>
            <!-- Automatic timeout value -->
            <fieldset class="radio-option__input-fieldset">
              <p class="label__helper-text" id="lockoutMethod1Helper">Must be at least 1</p>
              <label for="lockoutMethod1" class="accessible-text">Automatic timeout timeoutDuration</label>
              <input type="number" name="timeoutDuration" id="lockoutMethod1"
                    aria-describedby="lockoutMethod1Helper"
                    ng-min="modalCtrl.accountSettings.lockoutMethod ? 1 : null"
                    ng-disabled="!modalCtrl.accountSettings.lockoutMethod"
                    ng-required="modalCtrl.accountSettings.lockoutMethod"
                    ng-model="modalCtrl.accountSettings.timeoutDuration"/>
              <div ng-if="form.timeoutDuration.$invalid && form.timeoutDuration.$dirty"
                  class="form__validation-message">
                <span ng-show="form.timeoutDuration.$error.required">Field is required</span>
                <span ng-show="form.timeoutDuration.$error.min">Value must be at least 1</span>
              </div>
            </fieldset>
            <!-- Manual radio option -->
            <label class="radio-label">
              <input type="radio" ng-value="0"
                     name="lockoutMethod0"
                     ng-model="modalCtrl.accountSettings.lockoutMethod">
              Manual
            </label>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" ng-click="$dismiss()" type="button">Cancel</button>
      <button class="btn btn-primary" type="submit"
              ng-click="$close(form)" ng-disabled="form.$invalid"
              ng-class="{'disabled': form.$invalid}">
        Save
      </button>
    </div>
  </form>
</div>
