// Content layout styles
$nav__toplvlWidth: 120px;
$nav__seclvlWidth: 240px;

// Page header
.page-header {
  position: relative;
  border-bottom: 1px solid $lightbg__grey;
  margin: 1.625em 0 1.2em 0;
  padding-left: 0;
  overflow: hidden;
  .h4 {
    padding: 0;
    margin: 0 0 .5em 0;
    font-weight: bold;
  }
}

.content__container {
  margin-left: $nav__toplvlWidth;
  padding: 1em .1em;
  transition: left 1s ease;
  @include mediaQuery(x-small){
    //margin-left: $nav__toplvlWidth + $nav__seclvlWidth;
    padding: 1rem 2rem;
  }
}

section.row {
  padding-left: 0;
  padding-right: 0;
}

.content-header {
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 2em;
}

.content-label, label {
  color: $darkgrey;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75em;
  margin-bottom: 0;
}

.subhead {
  border-bottom: 1px solid $medgrey;
  padding-bottom: .5em;
}