// Content layout styles

.content__container {
  margin-left: $nav__toplvlWidth;
  padding: 1em .1em;
  transition: left 1s ease;
  @include mediaQuery(x-small){
    margin-left: $nav__toplvlWidth + $nav__seclvlWidth;
    padding: 1rem 2rem;
  }
}

section.row {
  padding-left: 0;
  padding-right: 0;
}