// Content layout styles
$nav__toplvlWidth: 120px;
$nav__seclvlWidth: 240px;

// Page header
.page-header {
  width: 100%;
  position: relative;
  border-bottom: 1px solid $border-color-02;
  margin: 0.5em 0 2.2em;
  padding-left: 0;
}

.page-subhead {
  width: 100%;
  border-bottom: 1px solid $medgrey;
  padding-bottom: 0.5em;
  margin: 1em 0 1em 0;
}

// Main element class
.content__container {
  margin-left: $nav__toplvlWidth;
  padding: 1em 0.1em;

  @include mediaQuery(x-small) {
    padding: 1rem 2rem;
  }

  section.row,
  .column.row.row,
  .row.row.columns {
    margin-left: 0;
  }

  // Must be applied to the <main> element in the app
  // Required to create an elegant page transition
  @include page-transition;
  &.ng-leave-active,
  &.ng-enter {
    @include page-transition-visibility;
  }
}

.content-header {
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 2em;
}

.content-label,
label {
  color: $text-02;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75em;
  margin-bottom: 0;
}

