// Page header
.page-header {
  width: 100%;
  position: relative;
  margin: 0.5em 0 2.2em;
  padding-left: 0;
}

// Main element class
.content__container {
  @include header-height(page-container);
  border-left: $nav__toplvlWidth solid $color--blue-50;
  padding: 1em 0.1em;

  @include mediaQuery(x-small) {
    padding: 1rem .5rem;
  }
  @include mediaQuery(small) {
    padding: 1rem 1rem;
  }

  section.row,
  .column.row.row,
  .row.row.columns {
    margin-left: 0;
  }

  // Must be applied to the <main> element in the app
  // Required to create an elegant page transition
  @include page-transition;
  &.ng-leave-active,
  &.ng-enter {
    @include page-transition-visibility;
  }
}

.content__container{
  background-position: bottom 8px right 50px;
  background-repeat: no-repeat;
  padding-bottom:64px;
  min-height:400px;
}

.content-header {
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 2em;
}

// Page header
.page-header {
  width: 100%;
  position: relative;
  border-bottom: 1px solid $border-color-02;
  margin: 0.5em 0 2.2em;
  padding-left: 0;
}
.subhead {
  width: 100%;
  border-bottom: 1px solid $border-color-01;
  padding-bottom: 0.5em;
}

.trim-text{
  @include mediaQuery(x-small) {
    display:none;
  }
  @include mediaQuery(small) {
    display:inherit;
  }
}

.trim-text-medium{
  @include mediaQuery(x-small) {
    display:none;
  }
  @include mediaQuery(medium) {
    display:block;
  }
}
.trim-text-small{
  @include mediaQuery(x-small) {
    display:none;
  }
  @include mediaQuery(small) {
    display:block;
  }
}