$logoHeight: 30px;
$logoMaxHeight: 100px;
$logoMaxWidth: 125px;

@mixin round-corners {
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px 6px;
  border-radius: 6px 6px;
}

#header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
}

.app__version {
  margin-left: 1em;
  display: none;
  @include mediaQuery(x-small) {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

header {
  position: relative;
  background: $black;
  color: $white;
  overflow: hidden;
}

.header__logout {
  float: right;
  display: inline-block;
  color: $white;
  font-size: .9em;
  text-decoration: none;
  padding: 1em;
  font-weight: 400;
  &:visited {
    color: $white;
  }
}

.header__functions-wrapper {
  color: $white;
  padding: 0 1.1em;
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 5em;
  border-bottom: 1px solid $medgrey;
  background: $white;
  .header__server-name {
    font-size: 1.5em;
    font-weight: 500;
    color: $darkgrey;
    padding: .4em 0 0 1em;
    height: 100%;
    background: transparent;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    .header__hostname {
      color: $black;
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 0;
    }
    .header__server-ip {
      font-size: 1rem;
    }
  }
  .logo__wrapper {
    padding-top: .5em;
    //position: absolute;
    //top: 50%;
    //transform: translateY(-50%);
  }

  .header__logo {
    vertical-align: middle;
    margin: 1em;
    float: left;
    height: $logoHeight; //required for <SVG> logos - can remove if using img
    max-height: $logoMaxHeight;
    max-width: $logoMaxWidth;
    width: auto;
  }

  .header__functions {
    position: absolute;
    top: 0;
    right: -680px;
    bottom: 0;
    z-index: 100;
    margin: .3em 0;
    background: $white;
    @include fastTransition-all;
    &.active {
      right: 1em;
    }
    @media (min-width: 1025px) {
      right: 0;
    }
    span {
      display: block;
      color: $black;
      font-size: 1em;
    }
    a, p {
      display: block;
      float: left;
      text-decoration: none;
      color: $darkgrey;
      padding: 1.250em 1.688em;
      height: 100%;
      font-size: 0.875em;
      font-weight: 400;
      line-height: 1;
      > span {
        display: block;
        font-size: 1rem;
        font-weight: bold;
        margin-top: .3em;
      }
    }
  }

  .header__server-power,
  .header__page-refresh,
  .header__server-health,
  .header__info,
  .header__multi-server {
    background: $lightgrey;
    @include round-corners;
    margin: 0 .3em;
    height: 100%;
    border: 1px solid $medgrey;
    opacity: 1;
    @include fastTransition-all;
    &:hover {
      background: rgba(255, 255, 255, 1);
    }
  }

  .header__multi-server {
    padding: .5em;
    padding-top: .8em;
    float: left;
    margin-top: 10px;
    margin-right: -10px;
    .icon-angle::before {
      margin-left: 0;
      transform: rotate(90deg);
      @include fastTransition-all;
    }
    &.active {
      .icon-angle::before {
        transform: rotate(266deg);
        @include fastTransition-all;
      }
    }
  }
  .header__functions {
    .header__info {
      padding: .3em;
      min-width: 60px;
      text-align: center;
      display: inline-block;
      span {
        padding: .7em 0 .3em;
        font-size: 1em;
        font-weight: 400;
        color: $darkgrey;
      }
      .icon-angle {
        margin-bottom: .9em;
      }
      .icon-angle::before {
        font-size: 2em;
        margin-left: 0;
        display: block;
        transform: rotate(180deg);
        @include fastTransition-all;
      }
      @media (min-width: 1025px) {
        display: none;
      }
    }

    &.active > .header__info > .icon-angle::before {
      transform: rotate(-360deg);
      @include fastTransition-all;
    }

    .header__refresh {
      color: $darkgrey;
      line-height: 1.4;
      border-radius: 6px;
      span {
        @include fontCourierBold;
      }
    }
  }
  .header__page-refresh {
    padding-top: 0;
    position: relative;
    span {
      font-size: 0.875em;
      font-weight: 400;
      color: $darkgrey;
      display: block;
      margin-bottom: 1.1em;
    }
    svg {
      stroke: $medblue;
      fill: $medblue;
      height: 20px;
      width: 20px;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      top: 55%;
      transform: translateX(-50%);
    }
  }
}

// end header__functions-wrapper
