/**
 * Used for section layout. This should be used for the page container
 * Mark up
 <div class="section">
   <h2 class="section-title">Section Title</h2>
   <div class="section-content">
     ...
    </div>
    <div class="section-content">
     ...
    </div>
 </div>
 */

.section {
  margin-bottom: 3rem;
}

.section-title {
  border-bottom: 1px solid $border-color-01;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.section-content {
  margin-bottom: 1.5rem;
  margin-top: 0;
}
