@mixin page-boxformatting{
  display: inline-block;
  width: 100%;
}
@mixin page-roundcorners{
  border-radius: 8px;
  padding:.5em 2em;
}
@mixin page-boxcorners{
  border-radius:0px;
  padding:.5em 2em;
}
@mixin page-dropshadow{
  box-shadow: 0px 4px 35px 6px rgba(153,182,255,0.32); //shadow is #99B6FF
  -webkit-box-shadow: 0px 4px 35px 6px rgba(153,182,255,0.32);
}

@mixin page-contentborder{
  border: 1px solid #bde3f3;
}

@mixin page-spaceafter{
  margin-bottom:16px;
}

.page-title{
  color: $color--blue-100;
  font-size:24px;
}

.page-content-box{
  @include page-contentborder;
  @include page-dropshadow;
  @include page-boxcorners;
  @include page-spaceafter;
  @include page-boxformatting;
}

.page-content-rnd{
  @include page-dropshadow;
  @include page-roundcorners;
  @include page-spaceafter;
  @include page-boxformatting;
}


.text-intro,.text-outro{
    color: $color--grey-80;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 5px 5px 0 0;
    float:right;
    a{
      color: $color--grey-80;
    }
}
.text-intro>div{
  display: inline-block;
}
.text-outro,.text-outro a{
    padding-bottom:5px;
}

.padding-right{
  padding-right: 10px;
}

.padding-left{
  padding-left: 10px;
}

.text-intro .trim-text-medium,.trim-text-medium, .trim-text-medium>div{
  display:none;
  @include mediaQuery(medium) {
    display:block;
  }
  &.inline{
    @include mediaQuery(medium) {
      display:inline;
    }
  }
}