<div id="noVNC_container">
  <div id="noVNC_status_bar">
    <div id="noVNC_left_dummy_elem"></div>
  </div>
</div>
<div class="kvm__actions float-right">
  <button
    class="btn  btn-tertiary"
    ng-click="openWindow()"
    ng-show="newWindowBtn === true">
    <icon file="icon-launch.svg" aria-hidden="true"></icon>Open in new window
  </button>
</div>
<div class="inline dropdown__wrapper float-right" >
  <button type="button" class="btn btn-tertiary" ng-click="showMacroDropdown = !showMacroDropdown">
  Send Macro
  </button>
  <ul class="dropdown__list__upward inline" ng-show="showMacroDropdown">
    <li ng-repeat="macro in macroList">
      <button type="button" ng-click="sendMacro(macro);">{{macro}}</button>
    </li>
  </ul>
</div>
