$btn-primary__bg: $base-01--02;
$btn-primary__bg--hover: $base-01--03;
$btn-primary__border: transparent;
$btn-primary__txt: $base-02--08;
$btn-primary__txt--hover: $base-02--08;
$btn-primary__bg--disabled: $base-02--04;
$btn-primary__txt--disabled: $base-02--03;

$btn-secondary__bg: $base-02--03;
$btn-secondary__bg--hover: $base-02--04;
$btn-secondary__border: transparent;
$btn-secondary__txt: $base-02--08;
$btn-secondary__txt--hover: $base-02--08;
$btn-secondary__bg--disabled: $base-02--04;
$btn-secondary__txt--disabled: $base-02--03;

$btn-tertiary__bg: transparent;
$btn-tertiary__txt: $base-01--03;
$btn-tertiary__txt--hover: $base-01--04;
$btn-tertiary__txt--disabled: $base-02--03;

@mixin resize-button($size){
  @if ($size=="x-small") {
    padding: .5em 1em;
  }
}
/***
Include .btn class in addition to the button type.
These styles provide structural and base properties
shared across all buttons. The additional button
type (.btn-primary, .btn-secondary) will provide color
properties
***/
button,
.btn,
[type='button'] {
  @include fontFamily;
  @include fastTransition-all;
  font-size: .8em;
  text-transform: uppercase;
  border-radius: 0;
  padding: .5em 1em;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  border-radius: 26px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 15px 35px;
  border: 0;

  &[disabled],
  &.disabled {
    opacity: 1;
    cursor: default;
  }
  &.full-width {
    width: 100%;
  }
  .icon,
  i {
    //button symbol
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    display: inline-block;
    margin-right: 0.3em;
    vertical-align: bottom;
  }
  img {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-right: 0.5em;
  }
  svg {
    height: 1.2em;
    width: auto;
    max-width: 100%;
  }
}


/***
Use for the primary use-case/s that is non-destructive.
e.g. directing to a new page, a call to action
***/
.btn-primary {
  background-color: $btn-primary__bg;
  border-color: $btn-primary__bg;
  color: $btn-primary__txt;
  &:hover {
    background-color: $btn-primary__bg--hover;
    border-color: $btn-primary__bg--hover;
    color: $btn-primary__txt--hover;
  }
  &[disabled],
  &.disabled {
    background: $btn-primary__bg--disabled;
    border-color: $btn-primary__bg--disabled;
    color: $btn-primary__txt--disabled;
      .icon {
        fill: $btn-primary__txt--disabled;
      }
  }
  .icon {
    fill: $btn-primary__txt;
  }

}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $color--blue-50;
  border-color: $color--blue-20;
}

/***
Secondary buttons are actions that fall secondary or
of less priority to primary buttons.
These usually come coupled with a primary.
***/
.btn-secondary {
  background-color: $btn-secondary__bg;
  color: $btn-secondary__txt;
  border-color: $btn-secondary__bg;
  &:hover {
    background-color: $btn-secondary__bg--hover;
    border-color: $btn-secondary__txt--hover;
    color: $btn-secondary__txt--hover;
    .icon {
      fill: $btn-secondary__txt--hover;
    }
  }
  &[disabled],
  &.disabled {
    background-color: $btn-secondary__bg;
    border-color: $btn-secondary__txt--disabled;
    color: $btn-secondary__txt--disabled;
    .icon {
      fill: $btn-secondary__txt--disabled;
    }
  }
  .icon {
    fill: $btn-secondary__txt;
  }
}


/***
Tertiary text buttons are used to identify less pressing or
optional actions given on a page.
***/
.btn-tertiary {
  background-color: $btn-tertiary__bg;
  border-color: $btn-tertiary__bg;
  color: $btn-tertiary__txt;
  &:hover {
    color: $btn-tertiary__txt--hover;
    .icon {
      fill: $btn-tertiary__txt--hover;
    }
  }
  &[disabled],
  &.disabled {
    color: $btn-tertiary__txt--disabled;
    .icon {
      fill: $btn-tertiary__txt--disabled;
    }
  }
  .icon {
    fill: $btn-tertiary__txt;
  }
}

/***
Filter text buttons are used for toggle filters, such as on the sensors page
***/
.btn-filter-primary, .btn-filter-secondary{
  font-size: 14px;
  text-transform: inherit;
  border-radius: 0;
  padding: .5em 1em;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  border-radius: 0px;
  padding: 15px .2em;
  @include mediaQuery(small) {
  padding: 15px 1em;
  width:100%;
  }
  color: $color--grey-90;
  @include fastTransition-all;
  &:hover{
    border: 1px solid $color--blue-20;
    background: #ffffff;
  }
}
.btn-filter-primary {
  border: 1px solid $color--blue-10;
  background:#ffffff;
}
.btn-filter-secondary{
  border: 1px solid transparent;
}