// Global
$white: #ffffff;
$black: #333;
$darkgrey: #666;
$medgrey: #d7dbe0;
$lightgrey: #ccc;
$lightblue: #f0f2f5;
$purple: #5A3EC8;
$darkpurple: #20214f;
$field__disabled: #d8d8d8;
$btn__disabled-txt: #a6a5a6;
$btn__disabled-bg: #d8d8d8;

// Dark background
$darkbg__grey: #E3ECEC;
$darkbg__accent: #79a6f6;
$darkbg__primary: #19273c;
$active: #648FFF;

// Light Background
$lightbg__grey: #b8c1c1;
$lightbg__accent: #d8e2fc;
$lightbg__primary: #3c6df0;

// Primary Button colors
$primebtn__bg: #3c6df0;
$primebtn__text: $white;

// Secondary Button colors
$secbtn__bg: #ebf0fc;
$secbtn__border: #3f71ec;
$secbtn__text: #3f71ec;

// Dropdowns
$dropdown__focus-bg: #e6e9ee;

// Status colors
$error-color: #e62425;
$status-ok: #34bc6e;
$status-ok-light: #bcefce;
$status-warn: #ffb000;

// Alerts
$alert__error: rgb(230, 35, 37);
$alert__warning: rgb(255, 127, 0);
$alert__message: rgb(203, 221, 235);

// Severity
$critical-lightbg: #e62325;
$critical-darkbg: #ff5c49;
$medium-lightbg: #dc267f;
$medium-darkbg: #FF509E;
$warning-lightbg: rgb(255, 127, 0);
$warning-darkbg: #ffb000;
$normal: #00baa1;

// Threshold graphs
$thresh-critical: $error-color;
$thresh-warning: #ff806c;
$thresh-normal: #8ee9d4;

// Links
$links: #648FFF;
$links__hover: $lightbg__primary;
$links__visited: $darkbg__primary;
$links__disabled: rgba(27, 40, 52, 0.70);

// Navigation
$nav__top-level-color: #1a273b;
$nav__second-level-color: #e6e9ed;


