// Base colors
$color--blue-100: #1B2834;
$color--blue-50: #1D3458;
$color--blue-40: #2D60E5;
$color--blue-30: #7295F1;
$color--blue-20: #CCD7F4;

$color--grey-100: #333333;
$color--grey-80: #666666;
$color--grey-60: #999999;
$color--grey-40: #CCCCCC;
$color--grey-30: #DCDEE0;
$color--grey-20: #F0F2F5;
$color--grey-10: #FAFBFC;
$color--grey-0: #FFFFFF;

// Status colors
$color--teal-70: #098292;
$color--teal-50: #00B6CB;
$color--teal-20: #CCF0F5;

$color--green-50: #0A7D06;
$color--green-20: #C6E8C5;

$color--yellow-70: #EFC100;
$color--yellow-50: #FEDF39;
$color--yellow-40: #FFDF99;
$color--yellow-20: #FFF8E4;

$color--red-50: #DA1416;
$color--red-20: #FAD3D3;

// Global
$white: $color--grey-0;
$black: $color--grey-100;
$primary-accent: $color--blue-40;

$text-01: $black;
$text-02: $color--grey-80;
$text-03: $color--grey-20;

$link: $color--blue-40;
$link--hover: $color--blue-30;

$background-01: $white;
$background-02: $color--grey-20;
$background-03: $color--grey-30;
$background-04: $color--blue-100;
$background-05: $color--blue-50;

$border-color-01: $color--grey-30;
$border-color-02: $color--grey-60;

$box-shadow-color: $color--grey-30;

$status-error: $color--red-50;
$status-ok: $color--green-50;
$status-warn: $color--yellow-70;