html, body {
  height: 100%;
  @include fontFamily;
  font-size: 16px;
  font-weight: 400;
  color: $black;
}

p {
  margin-bottom: .8em;
  transition: margin .05s;
}

a, button.link {
  color: $link;
  text-decoration: none;
  font-weight: 700;
  &:visited {
    color: lighten($link, 5%);
  }
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  :focus {
    color: $link;
  }
}

button.link {
  padding-left: .3em;
  padding-right: .3em;
}