.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  speak: none;
  font-style: normal;
  &.icon-as-spacer {
    text-indent: -9999px;
  }
}

.icon__more {
  fill: $medblue;
  stroke: $medblue;
  background: transparent;
  overflow: visible;
  &:hover {
    cursor: pointer;
  }
}

.icon__more-dropdown {
  background: $lightgrey;
  position: absolute;
  right: 3px;
  white-space: normal;
  word-wrap: normal;
  z-index: 200;
  padding: 1em;
  font-size: 1em;
  box-shadow: 2px 4px 5px $medgrey;
}

.icon__bar-arrow {
  &:before {
    content: '\21E5';
    position: absolute;
    font-size: 1.7em;
    vertical-align: middle;
    transform: rotate(90deg);
    display: inline-block;
    left: 0px;
    top: -5px;
  }
}

.icon-angle {
  &:before {
    content: '\276F';
    display: inline-block;
    font-size: 1em;
    margin-left: 1em;
    color: lighten($darkgrey, 4%);
  }
}
//Status icons
@mixin status-icon {
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: .4em;
}

.icon__warning {
  @include status-icon;
  background-image: url(../assets/images/icon-warning.svg);
}

.modal .icon__warning {
  width: 30px;
  height: 30px;
}

.icon__critical {
  @include status-icon;
  background-image: url(../assets/images/icon-critical.svg);
}

.icon__good {
  @include status-icon;
  background-image: url(../assets/images/icon-on.svg);
}

.icon__off {
  @include status-icon;
  background-image: url(../assets/images/icon-off.svg);
}

.icon__return {
  @include status-icon;
  background-image: url(../assets/images/icon-return.svg);
}

.icon__standby {
  @include status-icon;
  background-image: url(../assets/images/icon-standby.svg);
}

.icon__plus {
  @include status-icon;
  background-image: url(../assets/images/icon-plus.svg);
}

.icon__info{
  margin-top: -4px;
  margin-right: .5em;
  width: 25px;
  height: 25px;
  fill: $medblue;
  float: left;
}

.icon__up-arrow {
  margin-right: .4em;
  margin-bottom: -15px;
  background: url(../assets/images/icon-arrow-blue.svg) center center no-repeat;
  height: 40px;
  width: 30px;
  &.icon-as-spacer {
    background: url(../assets/images/icon-arrow-gray.svg) center center no-repeat;
  }
}
.icon__down-arrow {
  @extend .icon__up-arrow;
  transform: rotate(180deg);
}

.icon__edit {
  @include status-icon;
  background-image: url(../assets/images/icon-edit-blue.svg);
}

.icon__delete {
  @include status-icon;
  background-image: url(../assets/images/icon-trashcan-blue.svg);
}
