// Typography

b,
strong {
  font-weight: bold;
}

p {
  margin-top: 0;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0 0 .8rem;
  line-height: 1;
  color: #333;
}

h1, .h1 {
  font-size: 3rem;
  font-weight: 500;
  padding-top: .5rem;
  margin-bottom: .6em;
}

h2, .h2 {
  font-size: 1.8rem;
}

h3, .h3 {
  font-size: 1.3rem;
  letter-spacing: -.08rem;
}

h4, .h4 {
  font-size: 1.125rem;
  letter-spacing: -.04rem;
}

h5, .h5 {
  font-size: 1rem;
  letter-spacing: -.05rem;
}

.courier-normal {
  font-family: "Courier New", Helvetica, arial, sans-serif;
}
.courier-bold {
  font-family: "Courier New", Helvetica, arial, sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}
