<div id="login">
  <div class="row">
    <div class="columns large-12">

      <div class="login-content-box">

        <form id="login__form" name="login__form" action="" ng-class="{'submitted' : submitted}">

          <div class="form-row logo_wrapper padding-top">
            <img class="padding" src="../../assets/images/OpenBMC.svg">
          </div>

          <fieldset ng-disabled="dataService.loading">
            <div class="form-row">
              <div class="alert alert-danger" role="alert" ng-if="invalidCredentials">
                <b>Invalid username or password.</b>
                <br>Please try again.
              </div>
            </div>

            <div class="form-row">
              <div class="input-wrapper input-ip">
                <input type="text" id="host" name="host" placeholder="BMC Host or IP" class="icon-style validate-input"
                  ng-model="host" has-error="serverUnreachable && login__form.host.$pristine" required autofocus
                  ng-keydown="tryLogin(host, username, password, $event)">
              </div>
              <div ng-messages="login__form.host.$error" class="form-error"
                ng-class="{'visible' : login__form.host.$touched || submitted}">
                <p ng-message="required">Field is required</p>
                <p ng-message="hasError">Server unreachable</p>
              </div>
            </div>

            <div class="form-row">
              <div class="input-wrapper input-login">
                <input type="text" id="username" name="username" placeholder="Username"
                  has-error="invalidCredentials && login__form.$pristine" required ng-model="username"
                  ng-keydown="tryLogin(host, username, password, $event)" autocomplete="off">
              </div>
              <div ng-messages="login__form.username.$error" class="form-error"
                ng-class="{'visible' : login__form.username.$touched || submitted}">
                <p ng-message="required">Field is required</p>
              </div>
            </div>

            <div class="form-row">
              <div class="input-wrapper input-pwd">
                <input type="password" id="password" name="password" placeholder="Password"
                  has-error="invalidCredentials && login__form.$pristine" required ng-model="password"
                  ng-keydown="tryLogin(host, username, password, $event)" autocomplete="off">
              </div>
              <div ng-messages="login__form.password.$error" class="form-error"
                ng-class="{'visible': login__form.password.$touched || submitted}">
                <p ng-message="required">Field is required</p>
              </div>
            </div>

            <div class="form-row">
              <input id="login__submit" class="btn  btn-primary full-width" type="button" value="Log in" role="button"
                ng-click="login(host, username, password); submitted = true; login__form.$setPristine()"
                ng-class="{error: error}" ng-disabled="dataService.loading">
            </div>

          </fieldset>

        </form>

      </div>

    </div>
  </div>