//Fixed alerts
.alert-danger {
  background-color: $accent-04--02;
  border-color: $accent-04--01;
  border-radius: 0;
  color: $primary-dark;
  text-align: left;
}
.alert-warning {
  background-color: $accent-03--03;
  border-color: $accent-03--02;
  border-radius: 0;
  color: $primary-dark;
  text-align: left;
}

.message-container {
  background-color: $background-02;
  padding: 1em 1.5em;
  display: inline-block;
  >*:last-child {
    margin: 0;
  }
}
