//Export button
.btn-export {
  color: $black;
  font-size: .9em;
  font-weight: 700;
  position: relative;
  padding: 0 0 1em 2em;
  margin-right: .6em;
  text-decoration: none;
  margin-top: 7px;
  &:hover {
    text-decoration: underline;
  }
}
.btn-export:before {
  content: '\21E5';
  position: absolute;
  font-size: 1.7em;
  vertical-align: middle;
  transform: rotate(90deg);
  display: inline-block;
  left: 2px;
  top: -5px;
}