
// inline confirmation message
.RMVinline__confirm {
  position: absolute;
  top: 0;
  left:0;
  transform: translateY(-103%);
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #536270;
  color: $primary-light;
  padding: 2em;
  overflow: hidden;
  @include fastTransition-all;
  &.active {
    transform: translateY(0);
    @include fastTransition-all;
  }
}
