/**
  * Used for file upload "choose file" button
  * Markup (example for certificate upload)
    <label>
      <input
      id="upload_{{cert.Description + cert.Id}}"
      type="file"
      file="cert.file"
      class="input-file" />
      <span class="btn btn-secondary">Choose file</span>
    </label>
*/

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file:focus + span {
  outline: 0.2rem solid $box-shadow-color;
}