// Loader

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader__wrapper {
  width: 115px;
  height: 115px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 3em 0;
  z-index: 91;
}

.loader {
  width: 100%;
  height: 100%;
  transform: translateZ(0) rotate(360deg);
  transform-origin: center center;
  -moz-transform-origin: center center; /* firefox requires fixed values */
  animation: rotate 1s linear infinite;
}

.loader__path {
  stroke-dasharray: 80px;
  stroke-dashoffset: 9.7px;
  r: 16px;
  cx: 50px;
  cy: 50px;
  fill: transparent;
  stroke: $loaderColor;
  stroke-width: 5px;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s cubic-bezier(0.5, 0.08, 0, 1);
  -webkit-animation: a 4s ease-out infinite;
  animation: a 4s ease-out infinite;
}

.loader__overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: #fefefe;
  height: 100%;
  z-index: 90;
  opacity: 0.7;
  width: 100%;
  -webkit-animation: fade 1s ease-in;
}
