//Quick links block
.quick-links {
  background-color: $background-02;
  padding: .5em 1em;
  font-size: .9em;
  font-weight: 400;
  margin: 1em 0;
  @include mediaQuery(medium) {
    margin: 0 0 0 1em;
  }
  a {
    color: $black;
    text-decoration: none;
    display: block;
  }
  p {
    margin-bottom: 0;
  }
  .event-log__events {
    margin-top: 0;
  }
}

.quick-links__item {
  padding: 1em 0 1em 0;
  border-bottom: 1px solid $border-color-01;
  position: relative;
  &:after {
    content: '\203A';
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3em;
    color: $text-02;
    transform: translateY(-50%);
  }
  &.no-icon {
    overflow: auto;
    .bmc-time {
      text-align: right;
      max-width: 17em;
      float: right;
      @include mediaQuery(medium) {
        display: block;
        text-align: left;
        float: none;
        margin-top: 0.25em;
      }
    }
    &:after {
      display: none;
    }
  }
  &:last-child {
    border-bottom: 0;
  }
  .float-right {
    display:inline-block;
    float: right;
    @media(min-width: 1024px) and (max-width: 1140px) {
      display: block;
      float: none;
    }
  }
}

.quick-links__label {
  font-weight: 700;
}

.quick-links__event-copy {
  color: $status-error;
  margin-bottom: 0;
  font-weight: 700;
  font-size: .9em;
  a {
    color: $status-error;
  }
}

//toggle switch
.quick-links__item .toggle label {
  transform: translateY(-2px);
  margin-right: 0;
}
