// toggle buttons for filtering
.toggle-filter {
  margin-top: 12px;
  .filter-label {
    color: darken($lightgrey, 10%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75em;
    margin-bottom: 3px;
  }
  margin-right: 2em;
  margin-bottom: 1em;
  button {
    margin: 3px -3px;
    padding: .6em 2em;
    min-height: 2.1em;
    font-size: .9em;
    font-weight: 700;
    border-radius: 0;
    &.first,
    &.last {
      border-radius: 3px;
    }
    &.last {
      border-left: 0;
    }
  }
  .btn-primary {
    border: 2px solid $primebtn__bg;
  }

}