<table class="bmc-table">
  <thead>
    <!-- Header row -->
    <tr>
      <th ng-repeat="header in $ctrl.model.header"
          class="bmc-table__column-header">
        {{header}}
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- Data rows -->
    <tr ng-if="$ctrl.model.data.length > 0"
        ng-repeat="row in $ctrl.model.data"
        class="bmc-table__row">
      <!-- Row item -->
      <td ng-repeat="item in row.uiData"
          class="bmc-table__cell">
        {{item}}
      </td>
      <!-- Row Actions -->
      <td ng-if="$ctrl.rowActionsEnabled"
          class="bmc-table__cell  bmc-table__row-actions">
        <table-actions
          actions="row.actions"
          emit-action="$ctrl.onEmitTableAction(action, row)">
        </table-actions>
      </td>
    </tr>
    <!-- Empty table -->
    <tr ng-if="$ctrl.model.data.length === 0">
      <td>No data</td>
    </tr>
  </tbody>
</table>