$userInputHeight: 40px;

.user-manage__form {
  .dropdown__button {
    margin-bottom: 1.2em;
  }
  .dropdown__list {
    margin-top: -17px;
  }
  .dropdown__button {
    width: 200px;
    margin-top: 0;
    text-align: left;
  }
  label {
    min-width: 210px;
    font-weight: 700;
    margin-right: 4em;
  }
  input {
    width: 225px;
    height: $userInputHeight;
  }
  select {
    width: 225px;
    height: $userInputHeight;
  }
  fieldset {
    display: block;
    padding-left: 1.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid $medgrey;
  }
  .user-manage__input-wrapper {
    position: relative;
    height: $userInputHeight;
    margin-bottom: 1em;
    input {
      padding-right: 60px;
    }
  }
  .password-toggle {
    position: absolute;
    right: 5px;
    padding: 3px;
    margin-right: 20px;
    color: $primebtn__bg;
    font-size: .8em;
    @include vertCenter;
  }
  .user-manage__submit-wrapper {
    width: 100%;
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid $medgrey;
    button {
      float: right;
      margin: .5em;
    }
  }
  .user-manage__error
  {
    background: lighten($error-color, 20%);
    padding: 1em;
    text-align: center;
    font-size: 1em;
    border: 1px solid $error-color;
    color: $black;
    font-family: "Courier New", Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  .user-manage__success
  {
    color: $primebtn__bg;
    padding: 1em;
    font-size: 1em;
    font-family: "Courier New", Helvetica, Arial, sans-serif;
    font-weight: 500;
  }
}
