$userInputHeight: 40px;

.pass-manage__form {
  label {
    min-width: 210px;
    font-weight: 700;
    margin-right: 4em;
  }
  input {
    width: 225px;
    height: $userInputHeight;
  }
  fieldset {
    display: block;
    padding-left: 1.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid $medgrey;
  }

  .pass-manage__input-wrapper {
    position: relative;
    height: $userInputHeight;
    margin-bottom: 1em;
    input {
      padding-right: 60px;
    }
  }
  .password-toggle {
    position: absolute;
    right: 5px;
    padding: 3px;
    color: $primebtn__bg;
    font-size: .8em;
    @include vertCenter;
  }
  .pass-manage__submit-wrapper button {
    float: right;
    margin-left: .5em;
  }
  .change-password__error
  {
    background: lighten($error-color, 20%);
    padding: 1em;
    text-align: center;
    font-size: 1em;
    border: 1px solid $error-color;
    color: $black;
    font-family: "Courier New", Helvetica, Arial, sans-serif;
    font-weight: 700;
    width: 325px;
  }
  .change-password__success
  {
    color: $primebtn__bg;
    padding: 1em;
    font-size: 1em;
    font-family: "Courier New", Helvetica, Arial, sans-serif;
    font-weight: 500;
  }
}
