.local-users__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.local-users__actions,
.local-users__table .bmc-table {
  max-width: 900px;
}

.modal__local-users,
.modal__local-users-settings {
  .modal-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.modal__local-users {
  input[type="password"] {
    &::placeholder {
      color: $primary-dark;
      font-weight: bold;
    }
    &::-ms-placeholder {
      color: $primary-dark;
      font-weight: bold;
    }
  }
}
