.local-users__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.local-users__actions,
.local-users__table .bmc-table {
  max-width: 750px;
}

.modal__local-users,
.modal__local-users-settings {
  .modal-body {
    padding-left: 0;
    padding-right: 0;
  }
}
