<!doctype html>
<html ng-app="app" lang="en">

<head>
    <meta charset="UTF-8">
    <title>openBMC App</title>
    <!--link rel="icon" type="image/x-icon" href="/img/favicon.ico"-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/">
</head>
<body ng-style="dataService.bodyStyle" ng-attr-id="{{!dataService.showNavigation ? 'login': ''}}">

    <app-header ng-if="dataService.showNavigation" path="dataService.path"></app-header>
    <app-navigation ng-if="dataService.showNavigation" path="dataService.path" show-navigation="dataService.showNavigation"></app-navigation>

    <main ng-view ng-class="{'content__container': dataService.showNavigation, 'login__wrapper': !dataService.showNavigation}">
    </main>

</body>
</html>
