// BMC Reboot
.bmc-reboot-option {
  position: relative;
  overflow: hidden;
  padding-bottom: 1.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid $lightbg__grey;
  .btn {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
}
