// Power Usage SCSS
.power-usage__form {

  input {
    margin-bottom: 0em;
  }

  fieldset {
    padding-left: 1.8em;
  }

  .power-usage__switch-label {
    padding-bottom: .5em;
  }

  .power-usage__switch-label p {
    margin: 0;
    &:first-child {font-weight: 700;}
  }

  .power-usage__metadata-wrapper {
    margin: 0;
    padding: 0;
  }

  .power-usage__metadata-block {
    min-width: 47%;
    margin-bottom: 1.8em;
    margin-right: .7em;
    display: inline-block;
    white-space: normal;
    word-break: break-all;
    @include mediaQuery(small) {
      float: left;
    }
  }

  .power-usage__submit-wrapper {
    width: 100%;
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid $medgrey;
    button {
      float: right;
      margin: .5em;
    }
  }
}
