// Power Usage SCSS
.power-usage__wrapper {
  margin-bottom: 1em;
  // max-width: 1140px;
  .toggle-container {
    margin-bottom: 1em;
  }
  dl {
    margin-bottom: 1em;
  }
  dd {
    margin-bottom: 0;
  }
}
