.serial - lan__wrapper {
    overflow: hidden;
    .btn -
    export {
      margin: 1.8e m 0 1.8e m 2e m;
    }
  }

  .serial - lan__copy {
    padding: 1e m 0;
  }
  .serial - lan__terminal {
    position: relative;
    width: 101 % ; //extra 1% to fix redraw issue with terminal window
    height: 400 px;
    border: 1e m solid #19273c;
    overflow-x: hidden;
}

.serial-lan__actions {
  float: right;
  .btn-pop-out,
  .btn-export {
    text-decoration: none;
    font-size: .9em;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $black;
    }
  }
}

.serial-lan__header {
  background: $white;
  padding: 1.2em;
  line-height: 0;
  a {color: $black;}
}
