.serial-lan__wrapper {
  overflow: hidden;
  .btn-export {
    margin: 1.8em 0 1.8em 2em;
  }
}

.serial-lan__copy {
  padding: 1em 0;
}

.serial-lan__actions {
  float: right;
  .btn-pop-out,
  .btn-export {
    text-decoration: none;
    font-size: .9em;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $black;
    }
  }
}

.serial-lan__header {
  background: $white;
  padding: 1.2em;
  line-height: 0;
  a {color: $black;}
}

.terminal-container {
  position: relative;
  height: 25em;
  width: 100%;
}

.window-terminal-container {
  position: relative;
  height: 25em;
  max-width: 70em;
}
