.serial-lan__wrapper {
  overflow: hidden;
  .btn-export {
    margin: 1.8em 0 1.8em 2em;
  }
  height: 100%;
}

.serial-lan__copy {
  padding: 1em 0;
}

.serial-lan__header {
  background: $primary-light;
  padding-bottom: 1.2em;
  line-height: 0;
}

.terminal-container {
  position: relative;
  width: 100%;
  height: 25em;
}

.window-terminal-container {
  position: relative;
  max-width: 100%;
  height: 80vh;
}

#terminal{
  height: 100%;
}
