@mixin nav-whitefilter {
  filter: invert(92%) sepia(17%) saturate(0%) hue-rotate(326deg) brightness(112%) contrast(103%);
}
@mixin nav-SuperLtBluefilter {
   filter: invert(92%) sepia(17%) saturate(0%) hue-rotate(326deg) brightness(112%) contrast(103%);
}
@mixin nav-LtBluefilter {
  filter: invert(87%) sepia(27%) saturate(6400%) hue-rotate(166deg) brightness(96%) contrast(88%);
}

//Navigation icons
.nav__wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
}

.above-nav{
  text-align: center;
  padding: 15px 30px 4px 0;
  img{
    padding-bottom:10px;
  }
}

// Top level navigation
#nav__top-level {
  background: $nav__top-level-color;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: $nav__toplvlWidth;
  z-index:100;
  //overflow-y: auto;
  li {
    margin: 0;
  }
  > li > a,
  > li > button {
    height: inherit;
}

button, .button, a {
  .nav-icon-img {
    @include whitefilter;
  }
  &:hover {
    .nav-icon-img {
      @include LtBluefilter;
    }
    &.opened{
      color: $white;
    }
  }
  &.opened{
    .nav-icon-img {
      @include whitefilter;
    }
    .nav-link{
      color:$white;
    }
  }
}

.nav-icon-img {
    width: 26px;
    height: auto;
    float: left;
    margin-top: 6px;
}
.nav-link {
    float: left;
    font-size: 1.2em;
    padding: 10px 0 0 5px;
    text-transform: capitalize;
}
}

.nav__wrapper .button, .nav__wrapper button {
background: transparent;
border: 0;
color: $white;
width: 95%;
padding: 5px 5px 9px 10px;
margin: 0 0 0 4px;
display: block;
text-align: center;
white-space: normal;
border-radius: 0;
text-decoration: none;
border: 1px solid transparent;
font-weight: normal;
font-size: .9em;
&:hover {
  background: $color--blue-60;
  color: $color--blue-38;
  border-radius: 0;
  border: 1px solid $color--blue-35;
}
&:focus{
  outline: 0px;
}
}



.btn-overview {
.nav-link{
  color:$white;
  font-weight:400;
}
&:hover {
  background: $color--blue-60;
  .nav-link{
    color: $color--blue-35;
  }
}
}

.nav__second-level  {
  list-style-type: none;
  opacity: 0;
  left: $nav__toplvlWidth;
  padding: 0px;
  margin: 0;
  background-image: url('../assets/images/img-dots-tall.png');
  background-position: left 31px bottom 0;
  background-repeat: no-repeat;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: all .3s ease-in-out;
  overflow:hidden;
  line-height: 0;
  a{
    background: transparent;
    border: 0;
    color: $white;
    width: 95%;
    padding: 5px 5px 9px 10px;
    margin: 0 0 0 8px;
    text-align: center;
    white-space: normal;
    border-radius: 0;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: normal;
    font-size: .9em;
    text-align:left;
    margin-left:26px;
    color: $color--blue-30;
    &:hover {
      background: $color--blue-60;
      color: $color--blue-38;
      border-radius: 0;
      border: 1px solid $color--blue-35;
    }
    &:focus{
      outline: 0px;
    }
  }
  &.opened {
    line-height: 1.2;
    overflow: visible;
    opacity: 1;
    transform: scaleY(1);
    li a{
      display:block;
      &:hover{
        background-image: url('../assets/images/img-dots-tall.png');
        background-repeat:no-repeat;
        background-position: left 27px bottom -10px;
      }
    }
  }

  li:last-child a:hover{
    background-image: url('../assets/images/img-dots-tall.png');
      background-repeat:no-repeat;
      background-position: left 27px bottom -1px;
  }

  li {
    a:before{
      content: "\00B7 \00a0 \00B7 \00a0 \00B7 \00a0"; // \00B7 = middle dot  \00a0 = space
    }
    &:focus,
    &:hover {
      a {
        color: $color--blue-38;
        margin: -1px 0 0px 3px;
        padding: 6px 5px 9px 33px;
      }
    }
    &.active {
      a {
        color: $white;
      }
    }
  }
}
