$nav__toplvlWidth: 125px;
$nav__seclvlWidth: 240px;

//Navigation icons
@mixin navIcons {
  color: $white;
  fill: $white;
  max-height: 40px;
  stroke-width: 0.5;
  display: block;
  margin: 0.5em auto;
  overflow: hidden;
  .st0 {
    fill: none;
    stroke: $white;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }
  .st1 {
    fill: none;
    stroke: $white;
    stroke-width: 4;
    stroke-miterlimit: 10;
  }
}

.nav__wrapper {
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

// Top level navigation
#nav__top-level {
  background: $nav__top-level-color;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: $nav__toplvlWidth;
  overflow-y: auto;
  li {
    margin: 0;
  }
  > li > a,
  > li > button {
    height: 120px;
  }
  //svg icons
  .nav-icon {
    @include navIcons;
    width: 100%;
    svg {
      width: 36px;
      height: auto;
    }
  }
  .button,
  button,
  a {
    background: transparent;
    border: 0;
    color: $white;
    fill: $white;
    width: 100%;
    padding: 1em;
    display: block;
    text-align: center;
    margin-bottom: 0;
    white-space: normal;
    border-radius: 0;
    text-decoration: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid $darkgrey;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.2;
    &:hover {
      background: $white;
      fill: $black;
      color: $medblue;
      padding: 1em;
      border-radius: 0;
      border-bottom: 1px solid $lightgrey;
      .nav__icon-help__outer {
        stroke: $black;
      }
      .nav__icon-help__inner {
        fill: $lightbg__primary;
      }
      .nav-icon {
        fill: $medblue;
        color: $medblue;
        .st0 {
          stroke: $medblue;
        }
        .st1 {
          fill: $medblue;
          color: $medblue;
          stroke: $medblue;
        }
      }
    }
  }
  .opened {
    background: $nav__second-level-color;
    fill: $black;
    color: darken($medblue, 10%);
    border-bottom: 1px solid $lightgrey;
    .nav-icon {
      fill: $medblue;
      color: $medblue;
      .st0 {
        stroke: $medblue;
      }
      .st1 {
        fill: $medblue;
        color: $medblue;
        stroke: $medblue;
      }
    }
  }

  // Second Level Navigation
  .nav__second-level {
    position: fixed;
    background: $nav__second-level-color;
    top: 0;
    bottom: 0;
    left: -245px;
    width: $nav__seclvlWidth;
    z-index: -1;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
    @include fastTransition-all;
    &.opened {
      left: $nav__toplvlWidth;
      box-shadow: 7px 0 28px -10px $darkgrey;
      @include fastTransition-all;
    }
    a {
      padding: 1.2em 1em 1.2em 1em;
      display: block;
      color: $black;
      text-decoration: none;
      position: relative;
      font-weight: 400;
      text-align: left;
      border-bottom: 1px solid transparent;
      &:hover {
        background: $white;
      }
    }

    li {
      a:after {
        content: "\203A";
        position: absolute;
        font-size: 2em;
        font-weight: 700;
        top: 50%;
        right: 0.6em;
        transform: translateY(-59%);
        color: $nav__second-level-text-color;
        opacity: 0;
      }
      &.active {
        a {
          font-weight: 700;
        }
      }
      &.active,
      &:focus,
      &:hover {
        a {
          color: $nav__second-level-text-color;
        }
        a:after {
          opacity: 1;
          right: 0.3em;
          @include fastTransition-all;
        }
      }
    }
  }
}
