<loader loading="loading"></loader>
<div id="ssd-info">
    <div class="row column">
        <h1>SSD information</h1>
    <!--<div class="page-header">
            <h2 class="h4">All SSD information present in the system</h2>
        </div> -->
    </div>
	
	<!--<section id="ssd-categories" class="row column" ng-show="ssdInfo.length">
		<div class="row column header-row">
			<div class="column large-12 header__actions-bar">
				<p class="inline ssd__title">SSD</p>
				<p class="inline ssd__reading">Address</p>
				<p class="inline ssd__reading">Type</p>
				<p class="inline ssd__reading">LinkSpeed</p>
				<p class="inline ssd__reading">Status</p>
				<p class="inline ssd__reading">CfgWidth</p>
				<p class="inline ssd__reading">LinkWidth</p>
				<p class="inline ssd__reading">ParId</p>
				<p class="inline ssd__reading">Inserted</p>
				<p class="inline ssd__reading">LinkStatus</p>
			</div>
		</div>
		<div class="ssd__readings-row" ng-repeat="ssd in ssdInfo">
			<p class="inline ssd__title"><span class="icon"></span>{{ssd.title}}</p> 
			<p class="inline ssd__reading"><span class="ssd__label">Address</span>{{ssd.ssd_addr}}</p>
			<p class="inline ssd__reading"><span class="ssd__label">Type</span>{{ssd.ssd_type}}</p>
			<p class="inline ssd__reading"><span class="ssd__label">LinkSpeed</span>{{ssd.link_sp}}</p>
			<p class="inline ssd__reading"><span class="ssd__label">Status</span>{{ssd.status}}</p>
			<p class="inline ssd__reading"><span class="ssd__label">CfgWidth</span>{{ssd.cfg_wd}}</p>
			<p class="inline ssd__reading"><span class="ssd__label">LinkWidth</span>{{ssd.link_wd}}</p>
			<p class="inline ssd__reading"><span class="ssd__label">ParId</span>{{ssd.par_id}}</p>
			<p class="inline ssd__reading"><span class="ssd__label">Inserted</span>{{ssd.inserted}}</p>
			<p class="inline ssd__reading"><span class="ssd__label">LinkStatus</span>{{ssd.link_st}}</p>
		</div>
	</section> -->
	
	<div class="row column header-row">
		<table align="center" bordercolor="#66CCFF">
			<caption>SSD information</caption>
			<thead>
				<tr align=”center”>
					<th align=”center” font size="2">SSD NO.</th>
					<th align=”center” font size="2">Address</th>
					<th align=”center” font size="2">Type</th>
					<th align=”center” font size="2">LinkSpeed</th>
					<th align=”center” font size="2">Status</th>
					<th align=”center” font size="2">CfgWidth</th>
					<th align=”center” font size="2">LinkWidth</th>
					<th align=”center” font size="2">Resered</th>
					<th align=”center” font size="2">ParId</th>
					<th align=”center” font size="2">Inserted</th>
					<th align=”center” font size="2">LinkStatus</th>
				</tr>
			</thead>
			<tbody>
				<tr align=”center” ng-repeat="ssd in ssdInfo">
					<td align=”center” font size="2">{{ssd.title}}</td>
					<td align=”center” font size="2">{{ssd.ssd_addr}}</td>
					<td align=”center” font size="2">{{ssd.ssd_type}}</td>
					<td align=”center” font size="2">{{ssd.link_sp}}</td>
					<td align=”center” font size="2">{{ssd.status}}</td>
					<td align=”center” font size="2">{{ssd.cfg_wd}}</td>
					<td align=”center” font size="2">{{ssd.link_wd}}</td>
					<td align=”center” font size="2">{{ssd.resered}}</td>
					<td align=”center” font size="2">{{ssd.par_id}}</td>
					<td align=”center” font size="2">{{ssd.inserted}}</td>
					<td align=”center” font size="2">{{ssd.link_st}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="row column header-row">
		<table  align="center" bordercolor="#66CCFF">
			<caption>Slot information </caption>
			<thead>
				<tr align=”center”>
					<th align=”center” font size="2">Slot NO.</th>
					<th align=”center” font size="2">Present</th>
					<th align=”center” font size="2">SlotAddr</th>
					<th align=”center” font size="2">CableType</th>
					<th align=”center” font size="2">LinkActive</th>
					<th align=”center” font size="2">LinkWidth</th>
					<th align=”center” font size="2">LinkStatus</th>
					<th align=”center” font size="2">Invalid</th>
					<th align=”center” font size="2">ParId</th>
					<th align=”center” font size="2">State</th>
					<th align=”center” font size="2">UspOrDsp</th>
				</tr>
			</thead>
			<tbody>
				<tr align=”center” ng-repeat="slot in slotInfo">
					<td align=”center” font size="2">{{slot.title}}</td>
					<td align=”center” font size="2">{{slot.present}}</td>
					<td align=”center” font size="2">{{slot.slot_addr}}</td>
					<td align=”center” font size="2">{{slot.cable_type}}</td>
					<td align=”center” font size="2">{{slot.link_active}}</td>
					<td align=”center” font size="2">{{slot.link_wd}}</td>
					<td align=”center” font size="2">{{slot.link_st}}</td>
					<td align=”center” font size="2">{{slot.invalid}}</td>
					<td align=”center” font size="2">{{slot.par_id}}</td>
					<td align=”center” font size="2">{{slot.status}}</td>
					<td align=”center” font size="2">{{slot.usp_or_dsp}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>