<loader loading="loading"></loader>
<div id="power-usage">

<div class="power-usage__wrapper">
     <h1>Manage power usage</h1>
    <div class="page-header">
      <h2>Power information</h2>
    </div>
    <form role="form" action="" class="content__container">
        <!-- Power Information -->
        <dl>
          <dt class="content-label">Power Consumption</dt>
          <dd>{{ power_consumption }}</dd>
        </dl>
        <!-- Enable Power Cap -->
      </div>
      <div class="power-usage__wrapper">
        <div class="page-header">
          <h2>
            Server power cap setting
          </h2>
        </div>
        <p>
          Set a power cap to keep power consumption at or below the specified
          value in watts.
        </p>
        <div class="toggle-container">
          <div class="toggle">
            <input
              id="toggle__switch-round"
              class="toggle-switch toggle-switch__round-flat"
              type="checkbox"
              tabindex="0"
              ng-model="power_cap.PowerCapEnable"
              ng-checked="power_cap.PowerCapEnable"
            />
            <label for="toggle__switch-round" tabindex="0"
              >Server power cap setting is
              <span class="uid-switch__status">{{
                power_cap.PowerCapEnable ? "on" : "off"
              }}</span></label
            >
          </div>
          <span>
            {{ power_cap.PowerCapEnable ? "On" : "Off" }}
          </span>
        </div>
        <!-- Set Power Cap Value-->
        <div class="small-6 medium-4">
          <label for="power-cap" class="content-label"
            >POWER CAP VALUE IN WATTS</label
          >
          <input
            id="power-cap"
            type="number"
            min="100"
            max="10000"
            step="1"
            ng-disabled="!power_cap.PowerCapEnable"
            ng-model="power_cap.PowerCap"
          />
        </div>
      </div>
      <!-- Form Actions -->
      <div class="form-actions power-usage__wrapper">
        <button type="submit" class="btn btn-primary" ng-click="setPowerCap()">
          Save settings
        </button>
        <button type="button" class="btn btn-secondary" ng-click="refresh()">
          Cancel
        </button>
      </div>
    </form>

</div>
