<loader loading="dataService.loading || loading"></loader>
<div id="power-operations" class="power-operations">
  <section class="page-content-simple">
    <div class="column small-8 ">
      <div class="status-wrapper">
        <span>Boot setting override</span>
        <label ng-class="(boot.BootSourceOverrideTarget.length>0) ? 'status-label' : 'hide'"
          ng-Show="boot.BootSourceOverrideTarget!='None'">ON:
          {{prettifyBootTarget(boot.BootSourceOverrideTarget)}} <span ng-show="boot.oneTimeBootEnabled">one
            time only</span></label>
        <label class="status-label disabled" ng-show="boot.BootSourceOverrideTarget=='None'">OFF</label>
      </div>
    </div>
    <div class="column small-4 align-right">
      <button ng-click="onClickBootSettings()" class="btn btn-tertiary">
        <img src="../../assets/icons/icon-config.svg">
        Boot Settings
      </button>
    </div>
  </section>

  <!-- Power Indicator Bar -->
  <div class="row">
    <div class="column small-12 power__indicator-wrapper"
      ng-class="{'power__state-on': dataService.server_state == 'Running', 'power__state-off': dataService.server_state == 'Off', 'power__state-indet': dataService.server_state == 'Standby', 'power__state-error': dataService.server_state == 'Quiesced'}">
      <div id="power-indicator-bar" class="power__indicator-bar progress-bar-striped">
      </div>

      <div class="power-indicator-status">
        <div class="inline float-left host-name">{{ dataService.hostname }} - {{ dataService.server_id }}</div>
        <div class="power__state float-right inline trim-text-small">
          <span>{{dataService.server_state | quiescedToError}}</span>
        </div>
      </div>

    </div>
  </div>

  <!-- Power Operations Section -->
  <div class="row">
    <div class="operations-wrapper">
      <div ng-show="(!operationPending) && (dataService.server_state != 'Off')">

        <!-- Reboot/shutdown sections -->
        <div ng-show="dataService.server_state !== 'Off'">

          <!-- Reboot Field Row -->
          <div class="reboot__operations column medium-6 small-12">
            <div class="page-content-rnd table row column">
              <div class="box-header reboot-header">
                <legend class="boot-operations">Reboot<span class="trim-text-small inline">
                    server</span></legend>
              </div>

              <div class="box-content">
                <form id="reboot-form" name="rebootForm" class="reboot-form">
                  <div class="column medium-7 small-12">
                    <fieldset>
                      <label class="control-radio">Orderly
                        <span class="helper-text trim-text-medium">OS shuts down, then server
                          reboots</span>
                        <input type="radio" name="radioReboot" ng-model="defaultRebootSetting" value="warm-reboot" />
                        <span class="control__indicator control__indicator-on"></span>
                      </label>
                      <label class="control-radio">Immediate
                        <span class="helper-text trim-text-medium">Server reboots without OS
                          shutting down; may cause
                          data
                          corruption</span>
                        <input type="radio" name="radioReboot" ng-model="defaultRebootSetting" value="cold-reboot" />
                        <span class="control__indicator control__indicator-on"></span>
                      </label>
                    </fieldset>
                  </div>
                  <div class="column medium-5 small-12">
                    <button class="btn-power" ng-click="rebootConfirmModal()" type="submit"
                      ng-disabled="dataService.server_unreachable">
                      <img src="../../assets/images/btn-reboot.png">
                    </button>
                  </div>
                </form>
              </div>

            </div>
          </div>

          <!-- Shutdown Field Row -->
          <div class="shutdown__operations column medium-6 small-12">

            <div class="page-content-rnd table row column">
              <div class="box-header shutdown-header">
                <legend class="shutdown-operations">Shutdown<span class="trim-text-small  inline">
                    server</span>
                </legend>
              </div>

              <form id="shutdown-form" name="shutdownForm" class="shutdown-form">
                <div class="box-content">
                  <div class="column medium-7 small-12">
                    <fieldset>

                      <label class="control-radio">Orderly
                        <span class="helper-text trim-text-medium">OS shuts down, then server
                          shuts down</span>
                        <input type="radio" name="radioShutdown" ng-model="defaultShutdownSetting"
                          value='warm-shutdown' />
                        <span class="control__indicator control__indicator-on"></span>
                      </label>
                      <label class="control-radio">Immediate
                        <span class="helper-text trim-text-medium">Server shuts down without OS
                          shutting down; may cause
                          data
                          corruption</span>
                        <input type="radio" name="radioShutdown" ng-model="defaultShutdownSetting"
                          value='cold-shutdown' />
                        <span class="control__indicator control__indicator-on"></span>
                      </label>
                    </fieldset>
                  </div>
                  <div class="column medium-5 small-12">
                    <button class="btn-power" ng-click="shutdownConfirmModal()" type="submit"
                      ng-disabled="dataService.server_unreachable">
                      <img src="../../assets/images/btn-poweroff.png">
                    </button>
                  </div>
                </div>
              </form>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- Power on displays only when server is off -->
  <div class="row" ng-show="(dataService.server_state == 'Off') && (!operationPending)">

    <div class="poweron__operations column medium-12 small-12">
      <div class="page-content-rnd table row column">
        <div class="box-header poweron-header">
          <legend class="boot-operations">Power on<span class="trim-text-small inline"> server</span>
          </legend>
        </div>
        <div class="box-content">
          <div ng-class="{disabled: dataService.server_unreachable}">
            <button id="power__power-on" class="btn-power" ng-click="powerOn()" role="button"
              ng-disabled="dataService.server_unreachable">
              <img src="../../assets/images/btn-poweroff.png">
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- Pending reboot warning -->
  <div class="page-content-rnd alert-message" ng-show="operationPending">
    <p>
      Power operation controls can not be displayed while power operation is in
      progress. When complete, power operation controls will be restored.
    </p>
  </div>
</div>