<div>
<h2 class="h2">Serve image in a web browser</h2>
  <div id="virtual_media-proxy" class="vm__upload ng-scope">
    <div ng-repeat="dev in proxyDevices track by $index" class="row column">
    <div id="vm_{{dev.name}}" class="column">
      <!-- name and error message -->              
	  <label class="inline column"><span class="h3">{{dev.name}}</span><span ng-if="dev.isActive">(Active)</span> </label>
        <!-- Button -->
        <label class="inline firmware__upload-chooser">
            <input id="vm_{{dev.name}}_file-upload" type="file" file="dev.file" class="hide" ng-disabled="dev.isActive"/>
            <span class="button btn-secondary" ng-class="{disabled:dev.isActive}">{{dev.file ? dev.file.name : 'Choose file'}}</span>        
            <span class="inline firmware__upload-file-name"><span ng-if="dev.message" id="vm_{{dev.name}}_message" ng-bind="dev.message"></span></span>
        </label>            
		<input id="vm_{{dev.name}}_start_stop" type="button" ng-value="dev.isActive ? 'Stop' : 'Start'" ng-disabled="!dev.file" ng-class="{disabled:!dev.file}" class="btn btn-primary float-right" ng-click="dev.isActive? stopVM($index) : startVM($index)"/>
    </div>
    </div>
  </div>
 </div>
