<!-- Legacy mode configuration modal -->
<div class="uib-modal__content">
    <button
      aria-label="Close"
      type="button"
      class="btn  btn--close  float-right"
      ng-click="$dismiss()"
    >
      <icon file="icon-close.svg"></icon>
    </button>
    <div class="modal-header" id="modal-vm">
        <h2>Legacy mode configuration</h2>
    </div>
    <div class="modal-body" >
        <form name="configModal">
            <p>
              <label for="uri">External server URI</label>
              <input type="text" id="uri" name="uri" ng-model="config.uri"/>
            </p>
            <p>
              <label for="username">Username</label>
              <input type="text" id="username" name="username" ng-model="config.username"/>
            </p>
            <p>
              <label for="password">Password</label>
              <input type="password" id="password" name="password" ng-model="config.password"/>
            </p>
        </form>
    </div>
    <div class="modal-footer">
      <!-- Save VM config button -->
      <button
        type="submit"
        class="btn btn-primary"
        ng-click="$close(config)"
      >
        Save
      </button>
      <!-- Cancel button-->
      <button type="button" class="btn btn-secondary" ng-click="$dismiss()">
        Cancel
      </button>
    </div>
</div>