<div class="page">
  <h1 class="page-title">Virtual Media</h1>
  <section class="section">
    <div class="section-header">
      <h2 class="h2">Serve image in a web browser</h2>
    </div>
    <div class="section-content">
      <div id="virtual_media-proxy" class="vm__upload ng-scope">
        <p ng-if="proxyDevices.length < 1">
            There are no Virtual Media proxy devices available.
        </p>
        <div ng-repeat="dev in proxyDevices track by $index" class="row column">
          <div id="vm_{{dev.name}}" class="column">
            <!-- name and error message -->
          <h3 class="inline"><span>{{dev.name}}</span></h3><span ng-if="dev.isActive">(Active)</span>
            <!-- Button -->
          <label class="inline">
              <input id="vm_{{dev.name}}_file-upload" type="file" file="dev.file" class="input-file" ng-disabled="dev.isActive"/>
              <span class="button btn-secondary" ng-class="{disabled:dev.isActive}">{{dev.file ? dev.file.name : 'Choose file'}}</span>
              <span class="inline firmware__upload-file-name"><span ng-if="dev.message" id="vm_{{dev.name}}_message" ng-bind="dev.message"></span></span>
          </label>
          <input id="vm_{{dev.name}}_start_stop" type="button" ng-value="dev.isActive ? 'Stop' : 'Start'" ng-disabled="!dev.file" ng-class="{disabled:!dev.file}" class="btn btn-primary float-right" ng-click="dev.isActive? stopVM($index) : startVM($index)"/>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="section-header">
        <h2 class="h2">Load image from external server</h2>
      </div>
      <div class="section-content">
      <div id="virtual_media-legacy" class="vm__upload ng-scope">
        <p ng-if="legacyDevices.length < 1">
            There are no Virtual Media legacy devices available.
        </p>
        <div ng-repeat="dev in legacyDevices track by $index" class="row column">
        <div id="vm_{{dev.name}}" class="column">
          <!-- name and error message -->
            <h3 class="inline column">{{dev.name}}</h3>
            <p class="inline firmware__upload-chooser">
                <span ng-if="dev.message" id="vm_{{dev.name}}_message">{{dev.message}}</span>
            </p>
            <button id="vm_{{dev.name}}_config" type="button" class="btn btn-primary" ng-click="legacyConfigModal($index)">
              <span>Configure connection</span>
            </button>
            <button id="vm_{{dev.name}}_start_stop" type="button" ng-class="{disabled:!dev.configured}" class="btn btn-primary float-right" ng-click="dev.isActive? stopLegacy($index) : startLegacy($index)">
              <span ng-if="!dev.isActive">Start</span>
              <span ng-if="dev.isActive">Stop</span>
            </button>
        </div>
        </div>
      </div>
      </div>
 </section>
</div>
