.firmware__ready {
  font-weight: 300;
}

.firmware__table {
  margin-top: 2.5em;
  margin-bottom: 2.5em;

  .table__cell {
    a {
      display: inline-block;
      margin-right: 1.7em;
      text-decoration: none;
      font-weight: 700;
    }
    .icon {
      color: $medblue;
      &.disabled {
        color: $medgrey;
        &:hover {
          cursor: default;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    .icon.icon-as-spacer {
      text-indent: 0;
      color: $btn__disabled-txt;
      &:hover {
        cursor: default;
      }
    }
  }

  .table-header {
    font-weight: 700;
    p {
      margin-bottom: 0em;
    }
  }

  .table__row.disabled {
    .firmware__action-link {
      color: $medblue;
      opacity: 1;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .firmware__primary {
    background-color: lighten($status-ok, 40%);
  }
}

.firmware__version {
  flex: 30%;
}

.firmware__action {
  flex: 8%;
}

.firmware__active-version {
  color: $darkgrey;
  font-size: .8em;
  float: right;
  font-weight: 400;
}

.firmware__action-link {
  color: $links;
  padding: 5px;
  min-width: 90px;
  text-align: left;
}

.firmware__version {
  position: relative;
  .icon {
    position: absolute;
    right: 0;
    top: 20%;
  }
}


.icon__more-dropdown {
  width: 100%;
  top: 68%;
  right: 0;
  @include mediaQuery(medium){
    width: 30%;
    right: 18%;
    top: 74%;
  }
}

// Upload firmware
.firmware__upload-form {
  label {
    font-weight: 700;
  }
  input {
    height: 2.4em;
  }
  .button {
    min-width: 210px;
    width: auto;
    margin-top: 1em;
  }
}
.firmware__upload-file-name {
  text-transform: none;
}
.firmware__upload-chooser {
    width: 100%;
    background: $lightgrey;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
  .button {
    vertical-align: middle;
    margin: 1em .5em 1em 0;
    min-width: 3em;
  }
  &.uploading {
    @include indeterminate-bar;
  }
  @include mediaQuery(medium) {
    width: 70%;
  }
}
.firmware__upload-station {
  padding-bottom: 2em;
  border-bottom: 1px solid $medgrey;
  padding-left: 1em;
  margin-top: 2em;
}
.firmware__upload-tftp {
  padding-top: 2em;
  padding-left: 1em;
  padding-bottom: 50px;
}

.download_error
{
  @include mediaQuery(medium) {
    max-width: 35%;
  }
}

.download_success
{
  color: $primebtn__bg;
  padding: 1em;
}
