// LDAP SCSS

#configuration-ldap {
  .subhead {
    max-width: 66rem;
    margin-left: 0.65em;
    margin-top: 1em;
  }
  input {
    height: 40px;
  }
  .select__group-role {
    border-color: $darkgrey;
    height: 40px;
    margin-bottom: 0;
  }
}

.ldap__configuration {
  .ssl__column {
    padding-right: 1em;
  }
  .ldap-optional-field {
    margin-bottom: 1.7em;
  }
}

.enable__ldap {
  padding-top: 1em;
}

.enable__check {
  margin-right: 2em;
}

.configure-settings {
  background-color: $lightgrey;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: 1em;
  margin-bottom: 3em;
  .row {
    margin-left: 0.8em;
    padding-right: 1em;
  }
}

.server__info {
  border-left: 1px solid $medgrey;
  .control-radio {
    margin-bottom: 6px;
    display: block;
  }
  .service-type-column {
    margin-bottom: 1.2em;
  }
  .configuration__buttons {
    .button {
      float: right;
      margin-left: 0.5em;
      margin-top: 0.5em;
    }
    .btn-secondary {
      background-color: $white;
    }
    .btn-secondary:disabled {
      color: $btn__disabled-txt;
      border-color: $btn__disabled-border;
    }
    display: inline-block;
    padding-right: 1.5em;
  }
}

.certificate__info {
  padding-top: 0.5em;
  small {
    font-size: 14px;
  }
}

.control__radio__label {
  padding: 0.2em 1em 0 2em;
  text-transform: none;
  font-weight: 400;
  font-size: 16px;
  color: $black;
}

.enable-ldap-label {
  text-transform: none;
  font-weight: 400;
  font-size: 16px;
  color: $black;
}

.control-radio .control__indicator-service-type {
  width: 20px;
  height: 20px;
}

.control-radio .control__indicator-service-type:after {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
}

.control-radio input:disabled ~ .control__indicator-service-type:after {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.password-toggle {
  color: $primebtn__bg;
  font-size: 0.8em;
  float: right;
  position: relative;
  z-index: 2;
  padding: 6px 0 0 0;
}

.password-toggle.disabled {
  background: transparent;
  color: $btn__disabled-txt;
  border: none;
}

.bind__password__error {
  float: right;
  color: $darkgrey;
}

.ldap-groups {
  .subhead-groups {
    max-width: 66rem;
    margin-left: 0.65em;
  }
  .ldap__table {
    border-left: 1px solid $medgrey;
    border-right: 1px solid $medgrey;
    .empty__logs {
      margin-top: 0;
    }
    .table__row-header {
      width: 100%;
      border-bottom: 1px solid $medgrey;
      background-color: $darkbg__primary;
      color: $white;
      font-weight: 700;
      padding: 0.3em 0 0 0;
    }
    .table__row-header.disabled {
      opacity: 0.8;
    }
    .table__row-value {
      width: 100%;
      border-bottom: 1px solid $medgrey;
    }
    .table__cell-ldap {
      width: 30%;
      padding: 1.3em 1.5em 0.8em 1.5em;
    }
    .table__cell-select {
      width: 8%;
      padding: 1.3em 1.5em 0.8em 1.5em;
      .select-header {
        padding-top: 1em;
      }
    }
    .table__cell-sort {
      padding: 0.5em 1em 0 0;
      margin: 0 -25px 0 -13px;
    }
    .table__cell-ldap-group {
      width: 29%;
      padding: 1em 0.5em 0.8em 0.75em;
    }
    .table__cell-ldap-role {
      width: 30%;
      padding: 1em 0.5em 0.8em 0.75em;
    }
    .table_cell-ldap {
      width: 30%;
    }
    .table_cell-buttons {
      width: 32%;
      text-align: right;
      padding: 0.8em 0.8em 0.8em 0.8em;
    }
    .trash_button {
      padding: 0;
      margin: 0.5em;
      width: 1.4em;
      height: 1.3em;
    }
    .edit_button {
      padding: 0;
      width: 1.5em;
      height: 1.2em;
    }
  }
  .btn-add-group,
  .btn-remove-group {
    color: $primebtn__bg;
    padding: 0.75em 0;
  }
  .btn-add-group {
    margin-left: 0.5em;
    &:before {
      content: url(../assets/images/icon-plus.svg);
      width: 18px;
      float: left;
      margin-right: 5px;
      margin-top: -2px;
    }
  }
  .btn-remove-group {
    margin-left: 1em;
    &:before {
      content: url(../assets/images/icon-trashcan-blue.svg);
      width: 18px;
      float: left;
      margin-right: 5px;
      margin-top: -2px;
    }
  }
  .btn-add-group.disabled,
  .btn-remove-group.disabled {
    background: $white;
    color: $btn__disabled-txt;
    border: none;
  }
  .configure-settings-reset-btn:disabled {
    color: #999999;
    border-color: #cccccc;
  }
  .btn-remove-group.disabled:before {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .btn-add-group.disabled:before {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .modal__content-ldap {
    margin-bottom: 2em;
    margin-top: 2em;
    input[type="text"] {
      max-height: 2.4em;
    }
    select {
      margin: 0 0 0;
    }
  }
  .edit-group-name {
    padding-bottom: 1em;
  }
  .form-actions {
    width: 100%;
    padding-top: 2em;
    margin-top: 1.5em;
    border-top: 1px solid $medgrey;
    button {
      display: block;
      float: right;
      margin: 0 0 0 1em;
    }
  }
  .sort-ascending {
    display: block;
    padding: 0;
    transform: rotate(-90deg);
    font-size: 1em;
    color: $white;
    &:hover {
      color: $darkbg__accent;
    }
    &:after {
      content: "\276F";
    }
    &:focus {
      outline: 0;
      color: $darkbg__accent;
    }
  }
  .sort-descending {
    display: block;
    padding: 0;
    transform: rotate(-90deg);
    font-size: 1em;
    color: $white;
    &:hover {
      color: $darkbg__accent;
    }
    &:after {
      content: "\276e";
    }
    &:focus {
      outline: 0;
      color: $darkbg__accent;
    }
  }
}
