.net-config__form {
  .dropdown__button {
    margin-bottom: 1.2em;
  }
  .dropdown__list {
    margin-top: -17px;
  }
  .dropdown__button {
    width: 200px;
    margin-top: 0;
    text-align: left;
  }
  input {
    height: 2.1em;
    margin-bottom: 1.2em;
  }

  .net-config__fieldset {
    margin-bottom: 1.2rem;

    legend {
      padding-bottom: 0.5rem;
    }

    .net-config__fieldset-content {
      padding-left: 1.8em;
    }
  }

  .net-config__static-ip-wrap {
    width: 100%;
    padding-left: 0;
    padding-top: 1em;
    display: block;
    label {
      min-width: 250px;
    }
  }
  .control-radio {
    margin-top: 1em;
    margin-left: .7em;
    font-weight: 700;
  }
  .network-config__submit-wrapper {
    width: 100%;
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid $medgrey;

    &::after {
      content: " ";
      display: block;
      clear: both;
    }

    button {
      float: right;
      margin: .5em;
    }
  }
  .network-config__ipv4-wrap {
    padding-bottom: 1.8em;
  }
  .network-config_remove-button {
    color: $medblue;
    height: 2.1em;
    margin-left: 1em;
    opacity: 1;
    &:hover {
      cursor: pointer;
    }
  }
}
