#configuration-snmp {
  .row {
    padding-left: 0;
  }
  .snmp_description {
    padding: 1em 0 1em 0;
  }
  .help__text {
    font-size: 0.8rem;
    color: $disabled-row-txt;
    padding-top: 0.3em;
    display: none;
  }
  .form-error {
    display: none;
  }
  .manager_group {
    border-bottom: 1px solid $lightbg__grey;
    &.ng-invalid {
      input {
        color: black;
        border-style: solid;
        pointer-events: auto;
      }
      .help__text {
        display: block;
      }
      .form-error {
        display: block;
      }
    }
    &.empty {
      color: $disabled-row-txt;
      padding: 1em 0 1em 0;
    }
  }
  .snmp__port {
    padding: 0.3em 0 0.3em 1em;
    &.label {
      padding: 0.3em 0 0.3em 0em;
    }
  }
  .snmp__address {
    padding: 0.3em 1em 0.3em 0;
  }
  .snmp__fields {
    input {
      border-style: none;
      pointer-events: none;
      color: $disabled-row-txt;
      height: 2.4em;
    }
    &:focus-within {
      input {
        color: $black;
        border-style: solid;
        pointer-events: auto;
      }
      .form-error {
        display: block;
      }
      .help__text {
        display: block;
      }
    }
  }
  .snmp__buttons {
    text-align: right;
    .btn {
      padding: 0;
      width: auto;
      svg {
        fill: $color--blue-40;
        width: auto;
        height: 1.3em;
      }
    }
  }

  .snmp__submit-wrapper {
    width: 100%;
    border-top: 1px solid $medgrey;
    button {
      float: right;
      margin: 0.5em;
    }
  }
}
