#configuration-snmp {
  .row {
    padding-left: 0;
  }
  .snmp_description {
    padding:1em 0 1em 0;
  }
  .help__text {
    font-size: 0.8rem;
    color: $disabled-row-txt;
    padding-top: .3em;
    display: none;
  }
  .form-error{
    display: none;
  }
  .manager_group {
    &.ng-invalid {
      input {
        color: black;
        border-style: solid;
        pointer-events: auto;
      }
      .help__text {
        display: block;
      }
      .form-error {
        display: block;
      }
    }
  }
  .snmp__port {
    padding: .3em 0 .3em 1em;
  }
  .snmp__address {
    padding: .3em 1em .3em 0;
  }
  .snmp__fields {
    border-bottom: 1px solid $lightbg__grey;
    input {
      border-style: none;
      pointer-events: none;
      color: $disabled-row-txt;
      height: 2.4em;
    }
    &:focus-within {
      input {
        color: black;
        border-style: solid;
        pointer-events: auto;
      }
      .form-error {
        display: block;
      }
      .help__text {
        display: block;
      }
    }
    &.empty {
      color: $disabled-row-txt;
      padding: 1em 0 1em 0;
    }
  }
  .snmp__buttons {
    padding-left: 2em;
    button{
      margin:.3em;
      img{
        width: 100%;
        height:100%;
      }
    }
  }
  .trash_button {
    padding: 0;
    width: 1.3em;
    height: 1.3em;
  }
  .edit_button {
    padding: 0;
    width: 1.3em;
    height: 1.2em;
  }
  .btn-add {
    &:focus {
      outline:0;
    }
    margin-top: 1em;
    color: $primebtn__bg;
    padding: 2em 0 3em 0;
  }
  .snmp__submit-wrapper {
    width: 100%;
    border-top: 1px solid $medgrey;
    button {
      float: right;
      margin: .5em;
    }
  }
}
