// SNMP SCSS

.snmp__form {

  fieldset {
    padding-left: 1.8em;
  }
   .snmp__managers {
    padding-bottom: 1.5em;
  }

   .snmp__manager-field {
    padding-right: 4em;
    width: 250px;
  }

  .snmp__metadata-wrapper {
    margin: 0;
    padding: 0;
  }

  .snmp__managers-wrap{
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 3em;
  }

  .snmp__submit-wrapper {
    width: 100%;
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid $medgrey;
    button {
      float: right;
      margin: .5em;
    }
  }
}
