// SNMP SCSS
.snmp__form {
  input{
    height:2.8em;
  }
  .add__snmp-button {
    margin-top: 1em;
  }

  .btn-add {
    margin-top: 1em;
    padding:0;
    border:0;
    color: $primebtn__bg;
    background: transparent;
    min-height: 40px;
    &:hover {
      cursor: pointer;
    }
    img{
      width: 18px;
      height: 18px;
      display: inline-block;
      margin-right: .5em;
      margin-top: -3px;
    }
  }

  .snmp__submit-wrapper {
    width: 100%;
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid $medgrey;
    button {
      float: right;
      margin: .5em;
    }
  }
  label {
    margin-top: .7em;
  }
  .snmp__manager-remove {
    color: $medblue;
    padding: 0;
    opacity: 1;
    &:hover {
      cursor: pointer;
    }
  }
}
