// Event Log SCSS

#event-log {

  #event-filter {
    button {
      margin: 3px -3px;
      padding: .5em 2em;
      min-height: 2em;
      font-size: .9em;
      border-radius: 0;
      &.first,
      &.last {
        border-radius: 3px;
      }
    }
    .btn-primary {
      border: 2px solid $primebtn__bg;
    }
    .filter-label {
      color: darken($lightgrey, 10%);
      text-transform: uppercase;
      font-weight: 700;
      font-size: .75em;
      margin-bottom: 3px;

    }
  }

  //Timezone select
  .event-log__timezone,
  .event-log__timezone button {
    position: relative;
    text-transform: uppercase;
    color: $lightbg__primary;
    font-size: .9em;
    font-weight: 700;
  }
  .event-log__timezone .event-log__tz-select {
    position: relative;
    padding: 1em;
    margin-top: 0px;
    &:after {
      content: '\25bC';
      display: inline-block;
      margin-left: 5px;
      font-size: .8em;
    }
  }

  .event-log__tz-list {
    position: absolute;
    right: 0;
    background: $white;
    padding: 0;
    width: 100%;
    border: 1px solid $lightbg__grey;
    margin-top: -5px;
    box-shadow: 0px 4px 10px -2px $lightgrey;
    li {
      list-style-type: none;
    }
    button {
      padding: 1em;
      text-align: left;
      width: 100%;
      &:hover {
        background: $lightbg__accent;
      }
    }
  }

}

//end #event-log
