// Event Log SCSS
#event-log {

  .accord-trigger {
    transform: rotate(90deg);
    font-size: 1.5em;
    color: lighten($darkgrey, 10%);
    padding: .3em;
    display: block;
    margin: 0 auto;
    transition: all .2s ease;
    &:after {
      content: '\276F'
    }
    &.active {
      transform: rotate(-90deg);
      color: $darkbg__accent;
    }
    &:focus {
      outline: 0;
      color: $darkbg__accent;
    }
  }
  .row {
    padding: 0;
    margin-left: 0;
  }

  // Dropwdowns filter
  .dropdown__date.row {
    padding: .5em;
  }

  //Timezone select
  .event-log__timezone,
  .event-log__timezone button {
    position: relative;
    text-transform: uppercase;
    color: $lightbg__primary;
    font-size: .9em;
    font-weight: 700;
  }

}

// Event log search

.event-log__search {
  width: 100%;
  max-width: 99%;
  display: inline-block;
  position: relative;
  margin-right: 1em;
  margin-top: .5em;
  @media (min-width: 1333px) {
    max-width: 60%;
    margin-top: 0;
  }
  #event__search {
    margin: 0;
    border: 0;
    border-bottom: 2px solid $lightgrey;
    padding-left: 40px;
    &:focus {
      box-shadow: none;
    }
  }
  label {
    position: absolute;
    text-indent: -9999px;
    height:20px;
    width: 20px;
    left: 10px;
    top: 25px;
    transform: translateY(-50%);
    background: url("../assets/images/icon-search.svg") center center no-repeat;
    opacity: .6;
  }
  
  #event__search-submit {
    position: absolute;
    top: .5em;
    right: 0;
    padding: 8px;
    min-height: 20px;
    max-width: 70px;
    text-align: center;
    margin: 0;
  }

  .tag-filter-label {
    text-transform: uppercase;
    color: $darkgrey;
    font-size: .7em;
    font-weight: 700;
    min-height: 20px;
    line-height:1.3;
    margin-top: .5em;
    text-align: right;
  }
}//end event-log__search

.event-log__filters {
  position: relative;
  padding-bottom: .5em;
  padding-top: .5em;

  @media (min-width: 1333px) {
    float: right;
    display: inline-block;
  }
}

// Event Log Events
#event-log__events {
  display: block;
  margin-top: 1.6em;
  border-top: 1px solid $lightgrey;
  position: relative;
  overflow: hidden;

  #event__actions-bar {
    padding-top: 1em;
    padding-right: 1em;
    background: $medgrey;
    margin-left: 0;

    .event__actions {
      margin-top: 1em;
      margin-right: 10px;
      @include mediaQuery(medium) {
        margin-top: 0;
      }
      @include mediaQuery(large) {
        margin-right: -20px;
      }
    }
  }

  .event-log__col-check {
    max-width: 60px;
    text-align: center;
  }
  .col-logged-events {
    span {
      display: inline-block;
      font-weight: 700;
      margin-right: .3em;
    }
  }

  //Export log
  .btn-export, .btn-meta-copy,
  .btn-delete,
  .btn-resolve {
    text-transform: capitalize;
    color: $black;
    font-size: .9em;
    font-weight: 700;
    position: relative;
    padding: 0 0 1em 2em;
    &:hover {
      text-decoration: underline;
    }
  }
  .btn-export {
    margin-top: 7px;
    padding-bottom: 0;
  }
  .btn-export:before {
    content: '\21E5';
    position: absolute;
    font-size: 1.7em;
    vertical-align: middle;
    transform: rotate(90deg);
    display: inline-block;
    left: 2px;
    top: -5px;
  }

  .btn-meta-copy,
  .btn-delete,
  .btn-resolve {
    margin-left: 5px;
    padding: .5em .5em;
  }

  // Single event log card
  .event-log__single-event {
    border-top: 1px solid $lightgrey;
    padding: 1em 1em 0 0em;
    background: $lightblue;
    &.active,
    &.selected {
      background: $white;
    }
    &:hover {
      background: $white;
    }
  }

  .event-log__event-info {
    &:hover {
      cursor: pointer;
    }
  }

  //Event priorities
  .event__priority {
    color: $white;
    font-size: .8em;
    text-transform: uppercase;
    padding: 2px 2em;
    font-weight: 700;
    line-height: inherit;
    min-width: 103px;
    text-align: center;

    &.high-priority {
      background: $error-color;

    }
    &.med-priority {
      background: $alert__warning;

    }
    &.low-priority {
      background: $lightbg__primary;
    }
    &.event-resolved {
      background: $purple;
      padding: 2px 1em;
    }
  }

  //Event Severity
  .event__severity {
    font-size: .7em;
    text-transform: uppercase;
    color: $darkgrey;
    font-weight: 700;
    margin: 0 1em;
    min-width: 103px;
  }

  //Event description
  .event__description {
    font-weight: 400;
  }

  //Event ID
  .event__id {
    @include fontCourierBold;
    font-size: .9em;
    color: $darkgrey;
  }

  .event__timestamp {
    @include fontCourierBold;
    font-size: .9em;
    color: #999999;
    margin-left: 1.2em;
  }

  // Event metadata row
  .event__metadata-row {
    height: 0;
    overflow: hidden;
    -webkit-transition: 0.5s linear all;
    transition: 0.2s linear all;
    &.active {
      height: 400px;
      @include mediaQuery(small) {
        height: 320px;
      }
      @include mediaQuery(medium) {
        height: 280px;
      }
    }
  }

  //Event metadata
  .event__metadata {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid $lightgrey;
    padding: .5em .5em 0;
    background: $white;
    display: block;
    margin-bottom: 1.5em;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
  }

  //Event Related Items
  .event__related {
    width: 100%;
  }
  .event__related-label {
    font-weight: 700;
    margin-right: 1.2em;
    padding-top: .3em;
  }

  .event__related-item {
    margin-right: 1em;
    padding-top: .3em;
  }
  .event__actions {
    margin-left: -1em;
    //margin-bottom: 1em;
    @include mediaQuery(medium) {
      float: right;
    }
  }

  .event__icon {
    width: 20px;
    height: 20px;
    font-weight: normal;
    margin-right: .5em;
    margin-top: -3px;
    display: inline-block;
  }

}

//end event-log__events



