// Event Log SCSS
#sensors {
  #sensors__detail {
    display: block;
    margin-top: 1.6em;
    border-top: 1px solid $lightgrey;
    position: relative;
    overflow: hidden;
  }
}

//end sensors



#sensor__details {
  display: block;
  margin-top: 1.6em;
  border-top: 1px solid $lightgrey;
  position: relative;
  overflow: hidden;


  //Export log
  .btn-export {
    text-transform: capitalize;
    color: $black;
    font-size: .9em;
    font-weight: 700;
    position: relative;
    padding: 0 0 1em 2em;
    &:hover {
      text-decoration: underline;
    }
  }
  .btn-export {
    margin-top: 7px;
  }
  .btn-export:before {
    content: '\21E5';
    position: absolute;
    font-size: 1.7em;
    vertical-align: middle;
    transform: rotate(90deg);
    display: inline-block;
    left: 2px;
    top: -5px;
  }

  .sensor__info {
    padding-top: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .accord-row {
    .priority-tag {
      margin: 0 2em 0 1em;
    }
  }

  //Sensor info
  .sensor__title {
    font-weight: 400;
    font-size: 1.3em;
  }
  .sensors__description {
    font-weight: 400;
  }

  //Event ID
  .sensor__reading {
    @include fontCourierBold;
    font-size: 1.2em;
    color: $darkgrey;
    float: left;
    margin-left: 1em;
    @media (min-width: 950px) {
      float: right;
    }
  }

  // Event metadata row
  .sensors__metadata-row {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.5s linear max-height;
    transition: 0.5s linear max-height;
    padding: 0 1em;
    &.active {
      max-height: 1000px; //max-height used to allow flexible height of content and still allow transition
      @include mediaQuery(small) {
        max-height: 1000px;
      }
      @include mediaQuery(medium) {
        max-height: 1000px;
      }
    }
  }


  //Event Related Items
  .sensors__related {
    width: 100%;
  }
  .sensors__related-label {
    font-weight: 700;
    margin-right: 1.2em;
    padding-top: .3em;
  }

  .sensors__related-item {
    margin-right: 1em;
    padding-top: .3em;
    display: inline-block;
    float: left;
    clear: both;
  }

  .sensors__icon {
    width: 20px;
    height: 20px;
    font-weight: normal;
    margin-right: .5em;
    margin-top: -3px;
    display: inline-block;
  }

}

//end sensors
