.inventory__container {
  h3,
  h4 {
    margin-bottom: 0;
  }
  h4 {
    font-size: 1rem;
    font-weight: bold;
  }
  padding-bottom: 5em;
  .content__search {
    margin-right: 0;
  }
  .inventory__table {
    .hardware__header {
      padding: 1.2em 1.5em 1.2em 1.5em;
      background: $darkblue;
      font-weight: 700;
      color: $white;
    }
    .ng-hide {
      height: 0;
    }
    .harware__details {
      background: $lightblue;
      .hardware__title {
        border-left: 1px solid $medgrey;
        border-right: 1px solid $medgrey;
        position: relative;
        font-weight: 700;
        text-transform: capitalize;
        padding: 1em 1.5em 1em 1.5em;
        border-bottom: 1px solid $medgrey;
        background-color: $white;
        &:hover {
          background: $lightblue;
          cursor: pointer;
        }
        &.expanded {
          background: $lightblue;
        }
      }
      .hardware__items {
        background: $lightgrey;
        border-right: 1px solid $medgrey;
        border-left: 1px solid $medgrey;
        display: block;
        overflow: hidden;
        @include fastTransition-all;
        &.expanded {
          height: 100%;
          border-bottom: 1px solid $medgrey;
        }
        .items {
          max-height: 320px;
          padding: 1em 1.5em 1em 1.5em;
          overflow: auto;
          overflow-wrap: break-word;
        }
        .subcomponents {
          max-height: 320px;
          padding: 1em 1.5em 1em 1.5em;
          overflow: auto;
          border-top: 1px solid $medgrey;
          @include mediaQuery(medium) {
            border-top: 0;
            border-left: 1px solid $medgrey;
          }
        }
      }
    }
  }
}
