@mixin state-label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8em;
}

$title-minWidth: 210px;

.header__actions-bar {
  padding-left: 1.5em;
  padding-right: 1em;
  font-weight: 700;
  .sensor__title {
    margin-left: 1.5em;
  }
  .sensor__reading {
    margin-right: .2em;
  }
  .sensor__heading-current {
    padding-right: 1em;
  }
}

.sensor__heading-current {
  margin: 0;
  @include mediaQuery(medium) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.sensor__label {
  float: left;
  font-weight: 300;
  @include mediaQuery(medium) {
    display: none;
  }
}

.sensor__table {
  width: auto;
  min-width: 60%;
  margin: 0;
  background: $white;
  text-decoration: none;
  border: 1px solid $medgrey;
  background: lighten($lightgrey,1%);
  @include mediaQuery(medium) {
    margin-top: 0;
    border-top: 0;
    background: transparent;
  }
  .sensor__title {
    font-weight: 700;
    background: darken($lightgrey, 5%);
    min-width: 25%;
    overflow: visible;
    @include mediaQuery(medium) {
      min-width: 25%;
      background: transparent;
    }
  }
  .sensor__reading,
  .sensor__status {
    display: block;
    min-width: 15%;
    overflow: visible;
    @include mediaQuery(medium) {
      display: inline-block;
    }
  }
  .sensor__threshold {
    display: block;
    overflow: visible;
    @include mediaQuery(medium) {
      display: inline-block;
    }
  }
  .sensor__Critical {
    background: $thresh-critical;
    color: $white;
    .content-label {
      color: $white;
    }
  }
  .sensor__Warning {
    background: $thresh-warning;
    color: $black;
    .content-label {
      color: $black;
    }
  }
  .sensor__OK {
    background: $thresh-normal;
    color: $black;
    .content-label {
      color: $black;
    }
  }
}

// Sensors
#sensors, #sensors-overview {
  .toggle-filter {
    margin-bottom: 20px;
  }
  .column, .columns {
    padding-left: 0px;
    padding-right: 0px;
  }
  .dropdown__button {
    margin-bottom: 1.2em;
  }
  .dropdown__list {
    margin-top: -17px;
  }
  .dropdown__button {
    width: 25em;
    margin-top: 0;
    text-align: left;
    border: 0.1em solid;
  }
  .dropdown__wrapper {
    width: 25em;
    margin-top: 0.4em;
    text-align: left;
  }
  .select__filter {
    margin-bottom: 20px;
    margin-left: 15px;
  }
}

//end sensor details
