// Threshold graphs
$thresh-critical: $notification-error--light;
$thresh-warning: $notification-warn--light;
$thresh-normal: $notification-success--light;
#sensors{
  #component{
    min-width:200px;
  }
  .sensor__title.table__cell{
    text-align:left
  }
}