<loader loading="loading"></loader>
<div id="configuration-cert">
  <div class="row column">
    <h1>SSL certificates</h1>
  </div>
  <div ng-repeat="certificate in certificates|filter:{isExpiring:true}" class="row column">
    <div class="small-12 alert alert-warning" role="alert">
      <div class="icon__warning inline"></div> The uploaded {{certificate.Description}} is expiring in {{getDays(certificate.ValidNotAfter) === 0 ? 'less than
      one day!' : getDays(certificate.ValidNotAfter) + ' days!'}} Consider replacing it with a new certificate.
    </div>
  </div>
  <div ng-repeat="certificate in certificates|filter:{isExpired:true}" class="row column">
    <div class="small-12 alert alert-danger" role="alert">
      <div class="icon__critical inline"></div> The uploaded {{certificate.Description}} has expired! Consider replacing it with a new certificate.
    </div>
  </div>
  <div class="row column">
    <button type="button" class="btn  btn-tertiary"
      ng-disabled="availableCertificateTypes.length === 0"
      ng-click="addCertificateModal=true">
      <icon class="icon-add" file="icon-plus.svg"></icon>
      Add new certificate
    </button>
    <button type="button" class="btn btn-tertiary"
      ng-click="addCSRModal=true">
       <icon class="icon-add" file="icon-plus.svg"></icon>
        Generate CSR
    </button>
  </div>
  <div class="row column">
    <div class="small-12 certificate__table">
      <div class="table__row-header">
        <div class="row column">
          <div class="certificate__type-header">
            Certificate
          </div>
          <div class="certificate__date-header">
            Valid from
          </div>
          <div class="certificate__status-header">
          </div>
          <div class="certificate__date-header">
            Valid until
          </div>
        </div>
      </div>
      <div ng-if="certificates.length < 1" class="empty__logs">There have been no certificates added.</div>
      <div ng-repeat="certificate in certificates">
        <certificate cert="certificate" reload="loadCertificates()" )></certificate>
      </div>
    </div>
  </div>
  <section class="modal add__certificate__modal" aria-hidden="true" role="dialog" ng-class="{'active': addCertificateModal}">
    <button class="certificate__close-modal" ng-click="addCertificateModal = false;">&#10005;</button>
    <div class="page-header">
      <h3>Add new certificate</h3>
    </div>
    <div class="modal__content">
      <form name="add__cert__form" id="add__cert__form" ng-class="{'submitted': submitted}">
        <div class="row column">
          <div class="small-12">
            <label for="cert__type">Certificate type</label>
            <select id="cert__type" name="cert__type" ng-model="newCertificate.selectedType" required>
              <option class="courier-bold" ng-value="">Select an option</option>
              <option class="courier-bold" ng-value="type" ng-repeat="type in availableCertificateTypes">{{type.Description}}</option>
            </select>
            <div ng-messages="add__cert__form.cert__type.$error" class="form-error" ng-class="{'visible' : add__cert__form.cert__type.$touched || submitted}">
              <p ng-message="required">Field is required</p>
            </div>
          </div>
        </div>
        <div class="row column">
          <div class="small-12">
            <label class="select__new-label" for="upload_cert_new">Certificate file</label>
          </div>
          <div class="row column file__upload">
            <label for='upload_cert_new'>
              <input name="upload_cert_new" id="upload_cert_new" type="file" file="newCertificate.file" class="hide"/>
              <span class="btn btn-secondary select__new-button">Choose file</span>
            </label>
          </div>
          <div class="row column">
            <div ng-if="newCertificate.file" class="small-7 file__name">
              <span>{{newCertificate.file.name}}</span>
              <icon file="icon-close.svg"
                ng-if="newCertificate.file.name"
                ng-click="newCertificate.file = '';"
                class="float-right"></icon>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal__button-wrapper">
      <button class="btn btn-secondary" ng-click="addCertificateModal = false; newCertificate={};add__cert__form.$setUntouched();">Cancel</button>
      <button class="btn btn-primary" ng-class="{'disabled' : add__cert__form.$invalid || !newCertificate.file}" ng-click="submitted = true; uploadCertificate();">Save</button>
    </div>
  </section>

  <section class="modal add-csr__modal" aria-hidden="true" role="dialog" ng-class="{'active': addCSRModal}">
    <button class="certificate__close-modal" ng-click="resetModal(); add__csr__form.$setUntouched()">&#10005;</button>
    <div class="page-header ">
      <h3 ng-if="displayCSRCode==false">Generate a Certificate Signing Request (CSR)</h3>
      <h3 ng-if="displayCSRCode==true">Certificate Signing Request (CSR)</h3>
    </div>
    <div ng-if="displayCSRCode==true">
      <span id="csrCode" class="add-csr__container-csr-code">{{csrCode}}</span>
    </div>
    <div class="modal__content add-csr__container">
      <form name="add__csr__form" id="add__csr__form">
        <div class="container-fluid">
          <h4 class="add-csr__header--general" ng-if="displayCSRCode==false">General</h4>
          <div class="row">
            <div class="col-4" ng-if="displayCSRCode==false">
              <div class="add-csr__content--general">
                <label for="cert__type" class="add-csr__label">Certificate Type *</label>
                <select class="add-csr__select" id="cert__type" name="cert__type" ng-model="newCSR.certificateCollection" required>
                  <option class="courier-bold" ng-value="default" ng-model="selectOption">Select an option</option>
                  <option class="courier-bold" ng-value="type" ng-repeat="type in allCertificateTypes">{{type.Description}}</option>
                </select>
                <div ng-messages="add__csr__form.cert__type.$error" class="form-error" ng-class="{'visible' : add__csr__form.cert__type.$touched}">
                  <p ng-message="required">Field is required</p>
                </div>
                <label for="countryCode" class="add-csr__label">Country *</label>
                <select class="add-csr__select" id="countryCode" name="countryCode" ng-model="newCSR.countryCode" required>
                  <option class="courier-bold" ng-value="default" ng-model="selectOption">Select an option</option>
                  <option class="courier-bold" ng-value="country" ng-repeat="country in countryList">{{country.Name}}</option>
                </select>
                <div ng-messages="add__csr__form.countryCode.$error" class="form-error" ng-class="{'visible' : add__csr__form.countryCode.$touched}">
                  <p ng-message="required">Field is required</p>
                </div>
                <label for="companyName" class="add-csr__label">Company Name *</label>
                <input class="add-csr__input" type="text" ng-model="newCSR.organization" id="companyName" name="companyName" required></input>
                <div ng-messages="add__csr__form.companyName.$error" class="form-error" ng-class="{'visible' : add__csr__form.companyName.$touched}">
                  <p ng-message="required">Field is required</p>
                </div>
                <label for="state" class="add-csr__label">State *</label>
                <input class="add-csr__input" ng-model="newCSR.state" type="text" id="state" name="state" required></input>
                <div ng-messages="add__csr__form.state.$error" class="form-error" ng-class="{'visible' : add__csr__form.state.$touched}">
                  <p ng-message="required">Field is required</p>
                </div>
                <label for="contactPerson" class="add-csr__label">Contact Person</label>
                <input class="add-csr__input-no-validation" id="contactPerson" ng-model="newCSR.contactPerson" type="text"></input>
                <label for="alternateName" class="add-csr__label">Alternate Name</label>
                <input class="add-csr__input-no-validation" ng-model="newCSR.firstAlternativeName" id="alternateName" name="alternativeName"
                  type="text"></input>
                <div ng-repeat="name in names">
                  <div class="add-csr__container-alternate-names">
                    <input class="add-csr__input-no-validation" ng-model="name.Value" type="text"></input>
                    <button class="add-csr__btn-delete-alternate-names" ng-click="deleteRow($index)" ng-disabled="multiSelected">
                      <img class="add-csr__container--delete-alternate-names-image" src="../../assets/images/icon-trash-blue.svg" alt="" />
                    </button>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-4" ng-if="displayCSRCode==false">
              <div class="add-csr__content--general">
                <label for="city" class="add-csr__label">City *</label>
                <input class="add-csr__input" id="city" name="city" ng-model="newCSR.city" type="text" required></input>
                <div ng-messages="add__csr__form.city.$error" class="form-error" ng-class="{'visible' : add__csr__form.city.$touched}">
                  <p ng-message="required">Field is required</p>
                </div>
                <label for="commonName" class="add-csr__label">Common Name *</label>
                <input class="add-csr__input" ng-model="newCSR.commonName" name="commonName" type="text" id="commonName" required></input>
                <div ng-messages="add__csr__form.commonName.$error" class="form-error" ng-class="{'visible' : add__csr__form.commonName.$touched}">
                  <p ng-message="required">Field is required</p>
                </div>
                <label for="companyUnit" class="add-csr__label">Company Unit *</label>
                <input class="add-csr__input" ng-model="newCSR.companyUnit" name="companyUnit" id="companyUnit" type="text" required></input>
                <div ng-messages="add__csr__form.companyUnit.$error" class="form-error" ng-class="{'visible' : add__csr__form.companyUnit.$touched}">
                  <p ng-message="required">Field is required</p>
                </div>
                <label for="challengePassword" class="add-csr__label">Challenge Password</label>
                <input class="add-csr__input-no-validation" id="challengePassword" ng-model="newCSR.challengePassword" type="text"></input>
                <label for="emailAddress" class="add-csr__label">Email Address</label>
                <input class="add-csr__input-no-validation" id="emailAddress" ng-model="newCSR.emailAddress" type="text"></input>
                <button class="add-csr__btn-add-name" ng-click="addRow()">
                  <icon file="icon-plus.svg"></icon>
                  Add another alternate name
                </button>
              </div>
            </div>

            <div class="col-4" ng-if="displayCSRCode==false">
              <div class="add-csr__container-private-key">
                <h4 class="add-csr__header-private-key">Private key</h4>
                <div class="add-csr__content-private-key">
                  <label for="keyPairAlgorithm" class="add-csr__label">Key Pair Algorithm *</label>
                  <select class="add-csr__select" ng-model="newCSR.keyPairAlgorithm" id="keyPairAlgorithm" name="keyPairAlgorithm" required>
                    <option class="courier-bold" ng-value="" ng-model="selectOption">Select an option</option>
                    <option class="courier-bold" ng-value="data" ng-repeat="data in keyPairAlgorithm">{{data}}</option>
                  </select>
                  <div ng-messages="add__csr__form.keyPairAlgorithm.$error" class="form-error" ng-class="{'visible' : add__csr__form.keyPairAlgorithm.$touched}">
                    <p ng-message="required">Field is required</p>
                  </div>

                  <div ng-if="newCSR.keyPairAlgorithm =='EC'">
                    <label for="keyCurveId" class="add-csr__label">Key Curve ID</label>
                    <select class=".add-csr__input-no-validation" ng-model="newCSR.keyCurveId" id="keyCurveId" name="keyCurveId">
                      <option class="courier-bold" ng-value="">None</option>
                      <option class="courier-bold" ng-value="data" ng-repeat="data in keyCurveId">{{data}}</option>
                    </select>
                  </div>

                  <label for="keyBitLength" class="add-csr__label">Key Bit Length *</label>
                  <select class="add-csr__select" ng-model="newCSR.keyBitLength" id="keyBitLength" name="keyBitLength" required>
                    <option class="courier-bold" ng-value="">Select an option</option>
                    <option class="courier-bold" ng-value="data" ng-repeat="data in keyBitLength">{{data}}</option>
                  </select>
                  <div ng-messages="add__csr__form.keyBitLength.$error" class="form-error" ng-class="{'visible' : add__csr__form.keyBitLength.$touched}">
                    <p ng-message="required">Field is required</p>
                  </div>
                  <label for="keyUsage" class="add-csr__label">Key Usage</label>
                  <div class="add-csr__text-helper">Hold the Ctrl, Command or Shift keys while clicking to select or deselect options.</div>
                  <select class="add-csr__multiselect" ng-model="newCSR.keyUsage" multiple id="keyUsage">
                    <option ng-value="" ng-model="selectOption">Select an option</option>
                    <option ng-value="data" ng-repeat="data in keyUsage">{{data}}</option>
                  </select>
                </div>
              </div>
            </div>
      </form>

      </div>
      </div>
    </div>
    <div class="modal__button-wrapper">
      <button class="inline btn-secondary" ng-click="resetModal();add__csr__form.$setUntouched();" ng-if="displayCSRCode==false">Cancel</button>
      <button class="inline btn-secondary" ng-if="displayCSRCode==true" clipboard text="csrCode" on-copied="copySuccess(event)"
        on-error="copyfailed(err)">
        <span ng-if="!copied">Copy</span>
        <span ng-if="copied==true">
          <img class="event__icon" src="../../assets/images/icon-check-blue.svg" alt="" />Copied</span>
      </button>

      <button class="inline btn-primary" ng-click="csrSubmitted = true; getCSRCode();add__csr__form.$setUntouched();" ng-class="{'disabled' : add__csr__form.$invalid}"
        ng-if="displayCSRCode==false">Generate CSR</button>
      <button class="inline btn-primary" ng-click="addCSRModal = false;newCertificate={};add__cert__form.$setUntouched();" ng-if="displayCSRCode==true">
        <a ng-href="data:text/json;charset=utf-8,{{csrCode}}" download="csrCode.txt" class="add-csr__text-download"> Download</a>
      </button>

    </div>
  </section>
  <div class="modal-overlay" tabindex="-1" ng-class="{'active': addCertificateModal}"></div>
  <div class="modal-overlay" tabindex="-1" ng-class="{'active': addCSRModal}"></div>