<loader loading="loading"></loader>
<div class="row column ldap__container">
  <div class="row column">
    <h1>LDAP settings</h1>
    <div class="column small-12 page-header">
      <h2 class="inline h4">Configure LDAP settings</h2>
    </div>
  </div>
  <div class="ldap_settings_container">
    <div class="ldap_settings">
      <div class="col-sm-8 no-float ldap_groups">
        <div class="row column">
          <p class = "ldap_info">Configure LDAP settings by editing the fields to the right. To manage your current list of configured Role Groups, select the corresponding checkbox and appropriate call-to-action.</p>
        </div>
        <div class="row column">
          <div class="column small-12 page-header">
            <h2 class="inline h4">Manage Role Groups</h2>
          </div>
        </div>
        <div class="row column ldap__button__wrapper">
          <button id="add_group" class="btn-secondary inline group_btn" ng-class="{'disabled': !ldapConfig.ldapCurrentlyEnabled || ldapDisabled}" ng-click="activeModal='add'" role="button">Add Role Group</button>
          <button id="delete_group" class="btn-secondary inline group_btn" ng-class="{'disabled': selectedIndex === '' || ldapDisabled}" ng-click="activeModal='delete'" role="button">Delete Role Group</button>
        </div>
        <div class="table row column">
          <div class="table__head">
            <div class="table__row">
              <div class="table__cell">
              </div>
              <div class="table__cell group_label">
                Role Group ID
              </div>
              <div class="table__cell group_label">
                 Group Name
              </div>
              <div class="table__cell group_label">
                Group Privilege
              </div>
            </div>
          </div>
          <div class="table__body" ng-hide="!ldapConfig.ldapCurrentlyEnabled || ldapDisabled">
            <div class="table__row" ng-repeat="group in groups track by $index">
              <div class="table__cell group_select">
                <span class="table__cell-label">Select group:</span>
                <label class="control-check">
                  <input type="radio" name="group_selected" ng-model="$parent.selectedIndex" ng-value="$index"/>
                  <span class="control__indicator"></span>
                </label>
              </div>
              <div class="table__cell group_field">
                <span class="table__cell-label">Group id:</span>
                <span>{{group.id}}</span>
              </div>
              <div class="table__cell group_field">
                <span class="table__cell-label">Group name:</span>
                <span>{{group.groupName}}</span>
              </div>
              <div class="table__cell group_field">
                <span class="table__cell-label">Group privilege:</span>
                <span>{{group.privilege}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 no-float">
        <ldap-configuration></ldap-configuration>
      </div>
    </div>
  </div>
  <div class="row column">
    <p class="ldap__error" ng-show= "error" role="alert">
      Error : {{userMessage}}
    </p>
    <p class="ldap__success"  ng-show= "success" role="alert">
      Success : {{userMessage}}
    </p>
  </div>
  <div class="modal-overlay" ng-class="{'active': activeModal}"></div>
  <section class="modal modal_roles" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDescription" role="dialog" ng-class="{'active': activeModal}">
    <div class="modal__activate " role="document">
      <div class="screen-reader-offscreen modal-description">Role Modal</div>
      <div class="page-header ">
        <div class="icon__warning inline" ng-show="activeModal === 'delete'"></div>
        <h1 class="h4 inline">{{activeModal === 'add' ? 'Add ' : activeModal === 'modify' ? 'Modify ' : 'Deleting '}}Role Group</span>
        </h1>
      </div>
      <div class="modal__content">
        <div ng-show="activeModal === 'add'">
          <label for="group-name">Group Name</label>
          <input id="group-name" class="small-6" type="text" ng-model="newGroup.name"/>
          <label class="content-label">Group Privilege</label>
          <select ng-model="newGroup.privilege" class="small-6">
            <option ng-value="">Select an option</option>
            <option class="courier-bold" ng-repeat="privilege in userPrivileges">{{privilege}}</option>
          </select>
        </div>
        <div ng-show="activeModal === 'delete'">
          Are you sure you want to delete role group {{groups[selectedIndex].groupName}}?
        </div>
      </div>
      <div class="modal__button-wrapper">
        <button class="inline btn-secondary" ng-click="activeModal=''; newGroup={}">Cancel</button>
        <button class="inline btn-primary" ng-click="saveGroupSettings(selectedIndex);">{{activeModal === 'add' ? 'Add group' : activeModal === 'modify' ? 'Save changes' : 'Continue '}}</button>
      </div>
    </div>
  </section>
</div>