<loader loading="loading"></loader>
<div id="configuration-network">
  <div class="row column">
    <h1 class="net-config__header">BMC network settings</h1>
    <p>Manage a network's settings as well as the associated IP addresses, DNS servers, and VLAN interfaces.</p>
    <h2 class="page-header">
      Interface
    </h2>
  </div>

  <!-- There are three forms, and they are formatted in row column-->
  <div class="row column">
    <form role="form" name="networkFormGeneral" class="row column">
      <div>
        <label for="netinterfaceSelect">Network interface</label>
        <select class="net-config__select">
          <option ng-repeat="(key, value) in networkInterfaceOptions">{{key}}</option>
        </select>
      </div>




      <!-- Grey box of network form-->
      <div class="row columns net-config__settings">
        <!-- FQDN and Mac Address Row-->
        <div class="row large-6 net-config__row">
          <div class="columns large-4">
            <label for="macAddress">Mac Address</label>
            <p id="macAddress">{{selectedInterface.macAddress}}</p>
          </div>
          <div class="columns large-8">
            <label for="fqdn">Fully Qualified Domain Name (FQDN)</label>
            <input id="fqdn" name="fqdn" type="text" ng-model="selectedInterface.fqdn" class="net-config__input--fqdn" />
          </div>
        </div>

        <!--Ipv4 Config & IPV$ Default Gateway-->
        <div class="row large-6 net-config__row">
          <div class="columns large-4 small-12">
            <fieldset>
              <legend for="ipConfig" class="content-label">Ipv4 Config</legend>
              <label>
                <input type="radio" name="ipConfig1" ng-model="selectedInterface.dhcpEnabled" ng-value="true" ng-change="onConfigChange()"
                />
                <span class="radio-label">DHCP</span>
              </label>
              <label>
                <input type="radio" name="ipConfig2" ng-model="selectedInterface.dhcpEnabled" ng-value="false" ng-change="onConfigChange()"
                />
                <span class="radio-label">Static</span>
              </label>
            </fieldset>
          </div>

          <div class="columns large-8 small-12 end">
            <label for="ipDefaultGateway">Ipv4 Default Gateway</label>
            <input id="ipDefaultGateway" ng-model="selectedInterface.defaultGateway" type="text" class="net-config__input" name="ipDefaultGateway"
              ng-class="{'net-config__input-disabled': selectedInterface.dhcpEnabled}" ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/"
              required/>
            <span class="form-error" ng-class="{'visible' : networkFormGeneral.ipDefaultGateway.$touched && networkFormGeneral.ipDefaultGateway.$error || submitted}"
              ng-show="networkFormGeneral.ipDefaultGateway.$error.required">Field is required</span>
            <span class="form-error" ng-class="{'visible' : networkFormGeneral.ipDefaultGateway.$touched && networkFormGeneral.ipDefaultGateway.$error.pattern || submitted}"
              ng-show="networkFormGeneral.ipDefaultGateway.$error.pattern">Invalid IP</span>
          </div>
        </div>
    </form>



    <!--DNS Servers and IPv4 Addresses-->
    <div class="row">
      <div class="columns medium-4">
        <!--DNS table-->
        <form name="networkFormDNS">

          <table class="net-config__table" id="server_table">
            <thead class="net-config__thead net-config__table-dns">
              <tr class="net-config__thead-row">
                <th class="net-config__table-cell net-config__thead--title">DNS server IP address</th>
                <th class="net-config__table-cell" ng-if="!selectedInterface.dhcpEnabled">
                </th>
              </tr>
            </thead>
            <tbody class="net-config__body">
              <tr ng-if="selectedInterface.nameServers.length==0" class="net-config__tbody-row net-config__table-dns">
                <td class="net-config__tbody-unit net-config__text-empty-state">No DNS servers have been configured </td>
              </tr>
              <tr class="net-config__tbody-row net-config__table-dns" ng-repeat="dns in selectedInterface.nameServers track by ($index)">
                <td class="net-config__tbody-unit">
                  <ng-form name="dnsInnerForm">
                    <input class="net-config__input" name="dns" id="net-config__prime-dns{{$index}}" set-focus-on-new-input ng-model="dns" ng-blur="selectedInterface.nameServers[$index] = dns"
                      ng-readonly="selectedInterface.dhcpEnabled" type="text" ng-class="{'net-config__input-disabled': selectedInterface.dhcpEnabled}"
                      ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/"
                      required />
                    <span class="form-error" ng-class="{'visible' : dnsInnerForm.dns.$touched && dnsInnerForm.dns.$error.required || submitted}"
                      ng-show="dnsInnerForm.dns.$error.required">Field is required</span>
                    <span class="form-error" ng-class="{'visible' : dnsInnerForm.dns.$touched && dnsInnerForm.dns.$error.pattern || submitted}"
                      ng-show="dnsInnerForm.dns.$error.pattern">Invalid IP</span>

                  </ng-form>

                </td>
                <td class="net-config__tbody-unit--trash net-config__tbody-unit" ng-if="!selectedInterface.dhcpEnabled">
                  <button class="btn btn-icon btn  btn-tertiary" aria-label="Delete dns field" aria-controls="alternate-name-input-{{$index}}"
                    ng-click="removeDNSField($index); networkFormDNS.$dirty=true" ng-disabled="multiSelected">
                    <icon aria-hidden="true" file="icon-trashcan.svg">
                  </button>
                </td>
              </tr>


            </tbody>
          </table>
          <button class="btn btn-tertiary net-config__btn-dns--text" ng-if="!selectedInterface.dhcpEnabled" ng-click="addDNSField()"
            class="btn btn-tertiary">
            <icon aria-hidden="true" file="icon-plus.svg"></icon>
            Add static DNS server
          </button>
        </form>

      </div>

      <!--IPv4 table-->
      <div class="columns medium-8">
        <form name="networkFormIpv4">

          <table class="net-config__table" id="ip-table">
            <thead class="net-config__thead net-config__table-dns">
              <tr class="net-config__thead-row">
                <th class="net-config__table-cell">IP address</th>
                <th class="net-config__table-cell">Subnet mask</th>
                <th class="net-config__table-cell net-config__thead-unit--origin ">Origin</th>
              </tr>
            </thead>
            <tbody class="net-config__tbody">
              <tr class="net-config__tbody-row net-config__table-dns" ng-repeat="ipv4 in selectedInterface.linkLocal">
                <td class="net-config__tbody-unit--dhcp net-config__tbody-unit--ipv4">
                  {{ipv4.Address}}
                </td>
                <td class="net-config__tbody-unit--dhcp net-config__tbody-unit--ipv4">{{ipv4.SubnetMask}}</td>
                <td class="net-config__tbody-unit--dhcp net-config__row--dhcpAddressOrigin net-config__tbody-unit--ipv4">Zero-configuration</td>
                <td class="net-config__tbody-unit--trash net-config__tbody-unit--ipv4"></td>
              </tr>

              <!-- Only display if dhcp configuration is selected -->
              <tr class="net-config__tbody-row net-config__table-dns" ng-repeat="ipv4 in selectedInterface.dhcpIpv4Addresses" ng-if="selectedInterface.dhcpEnabled && ipv4.AddressOrigin === 'DHCP' ">
                <td class="net-config__tbody-unit--dhcp">
                  {{ipv4.Address}}
                </td>
                <td class="net-config__tbody-unit--dhcp">
                  {{ipv4.SubnetMask}}
                </td>
                <td class="net-config__tbody-unit--dhcp">
                  DHCP
                </td>
                <td class="net-config__tbody-unit--trash net-config__tbody-unit--ipv4"></td>
              </tr>


              <!-- Only display static ipv4s if dhcp configuration is not selected -->
              <tr class="net-config__tbody-row net-config__table-dns" ng-if="!selectedInterface.dhcpEnabled" ng-repeat="ipv4 in selectedInterface.static"
                ng-form="ipv4Instance">
                <td class="net-config__tbody-unit net-config__tbody-unit--ipv4">
                  <input ng-model="ipv4.Address" name="ipv4Address" ng-readonly="selectedInterface.dhcpEnabled || ipv4.AddressOrigin === 'IPv4LinkLocal' "
                    type="text" ng-class="{'net-config__input-disabled': selectedInterface.dhcpEnabled || ipv4.AddressOrigin === 'IPv4LinkLocal' }"
                    ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/"
                    required />
                  <span class="form-error" ng-class="{'visible' : ipv4Instance.ipv4Address.$touched && ipv4Instance.ipv4Address.$error.required || submitted}"
                    ng-show="ipv4Instance.ipv4Address.$error.required">Field is required</span>
                  <span class="form-error" ng-class="{'visible' : ipv4Instance.ipv4Address.$touched && ipv4Instance.ipv4Address.$error.pattern || submitted}"
                    ng-show="ipv4AddressInnerForm.ipv4Address.$error.pattern">Invalid IP</span>
                </td>
                <td class="net-config__tbody-unit net-config__tbody-unit--ipv4">
                  <input ng-model="ipv4.SubnetMask" name="ipv4SubnetMask" ng-readonly="selectedInterface.dhcpEnabled || ipv4.AddressOrigin === 'IPv4LinkLocal' "
                    type="text" ng-class="{'net-config__input-disabled': selectedInterface.dhcpEnabled || ipv4.AddressOrigin === 'IPv4LinkLocal' }"
                    ng-pattern="/^(?:(?:255\.){3}(255|254|252|248|240|224|192|128|0+))|((255\.){2}(255|254|252|248|240|224|192|128|0+)\.0)|((255\.)(255|254|252|248|240|224|192|128|0+)(\.0+){2})|((255|254|252|248|240|224|192|128|0+)(\.0+){3}?)$/"
                    required/>
                  <span class="form-error" ng-class="{'visible' : ipv4Instance.ipv4SubnetMask.$touched && ipv4Instance.ipv4SubnetMask.$error || submitted}"
                    ng-show="ipv4Instance.ipv4SubnetMask.$error.required">Field is required</span>
                  <span class="form-error" ng-class="{'visible' : ipv4Instance.ipv4SubnetMask.$touched && ipv4Instance.ipv4SubnetMask.$error.pattern || submitted}"
                    ng-show="ipv4Instance.ipv4SubnetMask.$error.pattern">Invalid Subnet mask</span>
                </td>
                <td class="net-config__tbody-unit net-config__tbody-unit--ipv4">
                  <input name="addressOrigin" class="net-config__input-disabled" type="text" ng-model="ipv4.AddressOrigin" />
                </td>
                <td class="net-config__tbody-unit--trash net-config__tbody-unit--ipv4" ng-if="!selectedInterface.dhcpEnabled">
                  <button name="deleteInstance" class="btn btn-icon btn  btn-tertiary" aria-label="Delete dns field" aria-controls="alternate-name-input-{{$index}}"
                    ng-click="removeIpv4Address($index); networkFormIpv4.$dirty=true" ng-disabled="multiSelected" ng-if="!(ipv4.AddressOrigin === 'IPv4LinkLocal') ">
                    <icon aria-hidden="true" file="icon-trashcan.svg">
                  </button>
                </td>

              </tr>
            </tbody>
          </table>
          <button class="btn  btn-tertiary net-config__btn-dns--text" ng-if="!selectedInterface.dhcpEnabled && selectedInterface.static.length <1"
            ng-click="addIpv4Field()">
            <icon aria-hidden="true" file="icon-plus.svg"></icon>
            Add static IP address
          </button>
        </form>
      </div>
    </div>
    </div>

    <div class="net-config__btn-form-control">
      <button type="button" class="btn-secondary inline" ng-click="resetNetworkForm();">Cancel</button>
      <button type="button" class="btn-primary inline" ng-click="displaySettingsModal()">Save settings</button>
    </div>
  </div>