<div id="header__wrapper">
<!-- HEADER -->
<!-- Class of status-light__good has 3 states: status-light__good, status-light__error, status-light__disabled -->
<!-- Server Power buttton links to 'server power operations' page; Server Status may link to event log page. TBD.-->
<header id="header">
    <span class="app__version float-left">{{dataService.app_version}}</span>
    <a href="" class="header__logout" ng-click="logout()">Log out</a>
</header>
<div class="header__functions-wrapper" role="heading">
    <div class="logo__wrapper"><img src="img/logo.svg" id="header__logo"  alt="company logo"/></div>
    <button id="header__server-name">{{dataService.server_id}}</button>
    <div class="header__functions">
        <a href="" id="header__server-health">Server health<span class="status-light__good">{{dataService.server_health}}</span></a>
        <a href="#/power-operations" class="header__server-power" role="button">Server power<span ng-class="{'status-light__error': server_status == -1, 'status-light__disabled': server_status == 0, 'status-light__good': server_status == 1}">{{dataService.server_state}}</span></a>
        <p class="header__refresh">Page last refreshed <span>{{dataService.last_updated |date:'h:mm:ss MMM dd yyyy'}}</span></p>
        <button class="header__page-refresh" ng-click="refresh()"><img src="img/icon-refresh-white.svg" alt="refresh page" role="button"/></button>
    </div>
</div>
</div>
