<div>
    <div class="row">
        <div class="columns large-6">
            <img src="img/logo.svg" class="login__logo" alt="IBM logo" role="img"/>
        </div>
        <div class="columns large-6">
        </div>
    </div>
    <div class="row">
        <div class="columns large-6 login__desc">
            <h1>OpenBMC Advanced System Management</h1>
            <ul class="login__server-info">
                <li><p class="login__info-label">Build version</p><p>1.00.102</p></li>
                <li><p class="login__info-label">Server ID</p><p>29000000166668</p></li>
                <li><p class="login__info-label">Server model</p><p>Power SL-22LC</p></li>
Add a comment to this line
                <!-- ping server to see if powered on. Change status-light and txt accordingly. Status message is planned to be hardcoded message were isplay via local JS.  -->
                <li><p class="login__info-label">Server power</p><p class="status-light__good">On</p></li>
                <li><p class="login__info-label">Status message</p><!--<p>BMC was reset by user</p>--></li>
            </ul>
        </div>
        <div class="columns large-6">
            <form id="login__form" role="form" action="" >
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required ng-model="username" ng-class="{error: error}" ng-keydown="tryLogin(username, password, $event)">

                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="" required ng-model="password" ng-keydown="tryLogin(username, password, $event)">

                <input id="login__submit" class="btn-primary submit" type="button" value="Log in" role="button" ng-click="login(username, password)" ng-class="{error: error}">

                <p class="login__error-msg" role="alert" ng-if="error">Incorrect username or password</p>
            </form>
        </div>
    </div>
</div>