<loader loading="loading"></loader>
<div id="sel-log">
    <section id="sel-log__events" class="table row column" ng-show="selLogs.length">
      <div class="row column">
        <h1>System Event Logs</h1>
        <div class="page-header">
          <h2 class="inline h4">All SEL Entries</h2>
          <a ng-href="data:text/json;charset=utf-8,{{selLogs}}" class="inline btn-export float-right"  download="seLogs.json" ng-show="selLogs.length">Export </a>
          <button class="inline clear-input float-right btn-secondary" ng-click="confirm = !confirm" ng-show="selLogs.length">&#10005; Clear SEL</button>
          <div class="inline__confirm event__confirm" ng-show="confirm">
            <div class="inline__confirm-message">
              <p class="h3"><i></i>Are you sure you want to <strong class="ng-binding">clear SEL logs</strong>?
              </p>
            </div>
            <div class="inline__confirm-buttons">
              <button class="btn-primary" ng-click="clearSelEntries()">Yes</button>
              <button class="btn-primary" ng-click="confirm = false">No</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="row column" ng-show="selLogs.length">
      <p class="content-label">Filter SEL Logs</p>
      <div class="content__search">
        <label for="content__search-input">Search</label>
        <input id="content__search-input" type="text" ng-model="customSearch" ng-keydown="doSearchOnEnter($event)"/>
        <div class="search-submit__wrapper">
          <button class="clear-input" ng-click="clear()">&#10005;</button>
          <input id="content__search-submit" type="submit" class="btn btn-primary content__search-submit" value="Filter" ng-click="doSearchOnClick()"/>
        </div>
      </div>
    </section>
    <sel-filter></sel-filter>
    <section id="sel-log__events" class="table row column" ng-show="selLogs.length">
      <div class="table row column">
        <div class="table__head">
          <div class="table__row">
            <div class="table__cell sel-log__col-wrapper">
              <div class="column small-2 sort_button_wrapper">
                <button class="sort-ascending" ng-click="sortBy('Id', false)"></button>
                <button class="sort-descending" ng-click="sortBy('Id', true)"></button>
              </div>
              ID
            </div>
            <div class="table__cell sel-log__col-wrapper">
              <div class="column small-2 sort_button_wrapper">
                <button class="sort-ascending" ng-click="sortBy('Created', false)"></button>
                <button class="sort-descending" ng-click="sortBy('Created', true)"></button>
              </div>
              Timestamp
            </div>
            <div class="table__cell sel-log__col-wrapper">Name</div>
            <div class="table__cell sel-log__col-wrapper">
              <div class="column small-2 sort_button_wrapper">
                <button class="sort-ascending" ng-click="sortBy('SensorType', false)"></button>
                <button class="sort-descending" ng-click="sortBy('SensorType', true)"></button>
              </div>
              Type
            </div>
            <div class="table__cell sel-log__col-wrapper">
              <div class="column small-2 sort_button_wrapper">
                <button class="sort-ascending" ng-click="sortBy('Severity', false)"></button>
                <button class="sort-descending" ng-click="sortBy('Severity', true)"></button>
              </div>
              Severity
            </div>
            <div class="table__cell sel-log__col-wrapper">Description</div>
          </div>
        </div>
        <div class="table__body">
          <div class="table__row" dir-paginate="log in (selLogs | filter:filterBySearchTerms | filter:filterBySeverity | filter:filterByDate | filter:filterByType | orderBy:sortKey:reverse) | itemsPerPage:itemsPerPage">
            <div class="table__cell sel-log__col-wrapper">{{log.Id}}</div>
            <div class="table__cell sel-log__col-wrapper">{{log.Created}}</div>
            <div class="table__cell sel-log__col-wrapper">{{log.Name}}</div>
            <div class="table__cell sel-log__col-wrapper">{{log.SensorType}}</div>
            <div class="table__cell sel-log__col-wrapper">{{log.Severity}}</div>
            <div class="table__cell sel-log__col-wrapper">{{log.Message}}</div>
          </div>
        </div>
      </div>
      <dir-pagination-controls></dir-pagination-controls>
    </section>
    <section id="sel-log__events" class="table row column" ng-show="!selLogs.length">
      <p>There are no SEL logs to display at this time.</p>
    </section>
</div> <!-- end event log -->
