<div id="sensors">
    <div class="row column">
        <h1>Fan Speed Sensors</h1>
    </div>
    <section class="row column">
        <div class="page-header">
            <h2 class="inline h4">Sensors present in the system</h2>
            <a ng-href="data:text/json;charset=utf-8,{{export_data}}" class="inline btn-export float-right"  download="{{export_name}}" ng-show="filteredSensorData.length">Export</a>
        </div>
    </section>

    <!-- Filters -->
    <section class="row column">
        <!-- search -->
        <div class="content__search">
            <label for="content__search-input">Sensors Search</label>
            <input id="content__search-input" type="text" placeholder="Filter issues" ng-model="customSearch" ng-keydown="doSearchOnEnter($event)"/>
            <input id="content__search-submit" type="submit" class="btn btn-secondary" value="Submit" ng-click="doSearchOnClick()"/>
        </div>

        <div class="toggle-filter">
            <button class="inline first btn-primary" ng-click="toggleSeverityAll()"
                    ng-class="selectedSeverity.all ? 'btn-primary' : 'btn-secondary'">All
            </button>
            <button class="inline " ng-click="toggleSeverity('critical')"
                    ng-class="selectedSeverity.critical ? 'btn-primary' : 'btn-secondary'">Critical
            </button>
            <button class="inline" ng-click="toggleSeverity('warning')"
                    ng-class="selectedSeverity.warning ? 'btn-primary' : 'btn-secondary'">Warning
            </button>
            <button class="inline last" ng-click="toggleSeverity('normal')"
                    ng-class="selectedSeverity.normal ? 'btn-primary' : 'btn-secondary'">Normal
            </button>
        </div>
    </section> <!-- end filter -->

    <section class="row column">
    <div id="back-link">
        <a href="#/server-health/sensors-overview">Back to Sensor Overview</a>
    </div>
    </section>

    <section id="sensor__details" class="row column" ng-hide="!data.display_headers">
        <div class="row column header-row">
            <div class="column small-10 large-11 header__actions-bar">
                <p class="inline priority-tag-circ" ng-class="{'high-priority': data.status == 'critical', 'medium-priority': data.status == 'warning', 'low-priority': data.status == 'normal'}" aria-label="High Priority"></p>
                <p class="inline sensor__heading sensor__category">{{data.display_headers[0]}}</p>
                <p class="inline sensor__heading middle">{{data.display_headers[1]}}</p>
                <p class="inline float-right sensor__heading right">{{data.display_headers[2]}}</p>
            </div>
            <div class="column small-2 large-1 sensor__heading trigger-col"></div>
        </div>

        <!-- Sensor -->
        <div ng-repeat="sensor in (filteredSensorData = (data.data|filter:filterBySeverity|filter:filterBySearchTerms))" class="row column accord-row" ng-class="{'active': sensors__metadatarow, 'selected': sensors__selected}">
            <div class="row">
                <div class="column small-10 large-11 sensor__info" ng-click="sensors__metadatarow = ! sensors__metadatarow">
                    <p class="inline priority-tag-circ" ng-class="{'high-priority': sensor.status == 'critical', 'medium-priority': sensor.status == 'warning', 'low-priority': sensor.status == 'normal'}" aria-label="High Priority"></p>
                    <p class="inline sensor__title">{{sensor.title}}</p>
                    <p class="inline sensor__reading">{{sensor.reading}}</p>
                    <p class="inline float-right" ng-class="{'sensor__critical-label': sensor.status == 'critical', 'sensor__warning-label': sensor.status == 'warning', 'sensor__normal-label': sensor.status == 'normal'}">{{sensor.status}}</p>
                </div>
                <div class="column small-2 large-1">
                    <button class="accord-trigger" ng-class="{'active': sensors__metadatarow}" ng-click="sensors__metadatarow = ! sensors__metadatarow"></button>
                </div>
            </div>
            <div class="row sensors__metadata-row" ng-class="{'active': sensors__metadatarow}">
                <div class="column small-12">
                    <div class="threshold-chart__wrapper">
                        <span class="threshold__label low">Low</span>
                        <div class="threshold-chart">
                            <span class="threshold__marker"  ng-class="{'thresh__high-critical': sensor.status == 'critical', 'thresh__low-warn': sensor.status == 'warning', 'thresh__normal': sensor.status == 'normal'}" style="left: {{sensor.indicator}};"><span class="threshold__value">{{sensor.reading}}</span></span>
                            <span class="threshold thresh__low-critical"></span>
                            <span class="threshold thresh__low-warn"></span>
                            <span class="threshold thresh__normal"></span>
                            <span class="threshold thresh__high-warn"></span>
                            <span class="threshold thresh__high-critical"></span>
                        </div>
                        <span class="threshold__label high">High</span>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div> <!-- end event log -->
