$title-minWidth: 210px;
$col-width: calc(72% * (1 / 4) - 10px);
$narrow-width: 17%;

//Multiserver dropdown
.multi-server__recent {
  position: fixed;
  z-index: 110;
  background: $white;
  left: 130px;
  top: -30%;
  max-height: 0;
  overflow: hidden;
  padding: 1em;
  font-size: .95em;
  font-weight: 600;
  @include fastTransition-all;
  @include mediaQuery(medium) {
    min-width: 450px;
  }
  &.active {
    top: 130px;
    max-height: 100%;
    overflow: scroll;
    @include fastTransition-all;
  }
}
.multi-server__add-server,
.multi-server__view-all {
  display: block;
  padding: .6em .6em .6em 0;
  width: 100%;
  text-align: left;
}

.multi-server__add-server {
  margin-bottom: 2em;
  .icon__plus {
    height: 18px;
    margin-top: -2px;
  }
}

a.multi-server__view-all {
  color: $black;
}

.multi-server__recent-header {
  background: $lightgrey;
  color: $darkgrey;
  padding: 1em 0 .7em 1em;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: 1em;
}

.multi-server__recent-server {
  padding: .8em 1em;
  border-bottom: 1px solid $medgrey;
  margin-left: -1em;
  margin-right: -1em;
  &:last-child {
    border: 0px;
  }
  &:hover {
    cursor: pointer;
    background: $lightblue;
    @include fastTransition-all;
  }
  .column {
    padding-left: 0;
    padding-top: .5em;
  }
  .icon {
    margin-left: 0;
  }
  @include mediaQuery(medium) {
    border-bottom: 0;
  }
}

.multi-server__recent-name {
  line-height: 1.2;
  text-align: left;
}

.multi-server__recent-ip {
  @include fontCourierBold;
}

.multi-server__recent-power,
.multi-server__recent-ip{
  text-align: left;
}

//Multiserver page
.header__actions-bar {
  padding-left: 1.5em;
  font-weight: 700;
  .multi-server__col {
    padding: 0;
    &:hover {
      cursor: pointer;
    }
  }
  .multi-server__title {
    padding: 0;
    width: 30%;
  }
}

.multi-server__heading-current {
  margin: 0;
  @include mediaQuery(medium) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.multi-server__label {
  font-weight: 300;
  @include fontFamily;
  @include mediaQuery(medium) {
    display: none;
  }
}

.multi-server__col {
  width: 100%;
  text-align: left;
  margin-bottom: 0;
  display: none;
  padding: .5em .8em .5em .8em;
  overflow: hidden;
  @include mediaQuery(medium) {
    display: inline-block;
    width: $col-width;
    padding: .5em .8em .5em 0;
    text-align: left;
    vertical-align: top;
    overflow-wrap: break-word;
  }
}

.multi-server__data {
  text-align: left;
  float: right;
  width:40%;
  overflow-wrap: break-word;
  @media (min-width: 700px){
    width:30%;
  }
  @include mediaQuery(medium) {
    float: none;
    width: auto
  }
}

.narrow-col {
  @include mediaQuery(medium) {
    width: $narrow-width;
  }
}

.multi-server__col-row {
  position: relative;
  display: block;
  margin: 0;
  text-decoration: none;
  border: 1px solid $medgrey;
  background: lighten($lightgrey,1%);
  margin-top: 1em;
  &:hover {
    cursor: pointer;
    background: $lightblue;
    @include fastTransition-all;
  }
  @include mediaQuery(medium) {
    padding: .3em 1em .3em 1.5em;
    margin-top: 0;
    border-top: 0;
    background: transparent;
  }
  .multi-server__title {
    font-weight: 700;
    background: darken($lightgrey, 5%);
    min-width: 100%;
    padding: .5em .8em;
    @include mediaQuery(medium) {
      min-width: 30%;
      max-width: 30%;
      background: 0 0;
      vertical-align: top;
      margin-bottom: 0;
      padding: .5em .8em .5em 0;
      overflow-wrap: break-word;
    }
    .icon__normal {
      width: 0;
    }
  }
  .content-label {
    font-size: 1em;
    margin-left: .8em;
    color: $darkgrey;
  }
  .multi-server__col {
    display: block;
    @include mediaQuery(medium) {
      display: inline-block;
    }
  }
  .multi-server__current {
    background: darken($thresh-normal, 3%);
    margin: 0;
    @include mediaQuery(medium) {
      background: $thresh-normal;
      padding: .7em .3em;
      margin-left: 10px;
      min-width: 109px;
    }
    @include mediaQuery(large) {
      background: $thresh-normal;
      padding: .7em;
      margin-left: .3em;
      margin-right: .3em;
      min-width: 150px;
    }
    .multi-server__label {
      font-weight: 700;
      @include mediaQuery(medium) {
        font-weight:300;
      }
    }
  }
  .multi-server__critical {
    background: $thresh-critical;
    color: $white;
    .content-label {
      color: $white;
    }
  }
  .multi-server__warn {
    background: $thresh-warning;
    color: $black;
    .content-label {
      color: $black;
    }
  }
}

.multi-server__add-form {
  .control-check {
    padding-left: 25px;
    margin-left: 1em;
  }
}

//Multiserver modals
.modal__multi-login {
  .multi-server__col-row {
    background: $lightgrey;
    border-top: 1px solid $medgrey;
    margin-bottom: 2em;
    padding-bottom: .5em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    @include mediaQuery(large) {
      padding-top: .5em;
    }
    .multi-server__title {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      padding: .5em .8em .5em .8em;
      background: darken($lightgrey, 5%);
      @include mediaQuery(large) {
        min-width: 40%;
        max-width: 40%;
        background: transparent;
      }
    }
    .multi-server__data {
      width: 100%;
      float: none;

    }
  }
  .multi-server__col {
    padding: .5em .8em .5em .8em;
    width: 100%;
    @include mediaQuery(large) {
      width: calc(100% * (1 / 3) - 10px);
      &.narrow-col {
        width: 20%;
      }
    }
  }
}
